Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(root): prefer css logical properties for all apps wd-460
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/libs/components/icon/styles.css
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
  apps/certifications-whatislove-dev/src/libs/components/app/styles.css
  apps/certifications-whatislove-dev/src/pages/not-found/styles.module.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/blocks/visually-hidden.css
  package-lock.json
  package.json
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(root): remove transform properties wd-460
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: prefer css logical properties for all apps wd-460 (#461)
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/libs/components/icon/styles.css
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
  apps/certifications-whatislove-dev/src/libs/components/app/styles.css
  apps/certifications-whatislove-dev/src/pages/not-found/styles.module.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/blocks/visually-hidden.css
  package-lock.json
  package.json
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): improve slogan wd-464
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): improve slogan wd-464 (#465)
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): edit focus ring size in timeline wd-468
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit focus ring size in timeline wd-468 (#469)
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove underline fron icon links wd-468
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove underline fron icon links wd-471
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove underline fron icon links wd-471 (#472)
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): add view box for noise to fix bg in Firefox wd-474
  apps/whatislove-dev/src/images/noise.svg
Due: make lint_editor lint_fs

fix(whatislove-dev): add view box for noise to fix bg in Firefox wd-474 (#475)
  apps/whatislove-dev/src/images/noise.svg
Due: make lint_editor lint_fs

feat(whatislove-dev): add skip link wd-477
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/skip-link.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev): edit prefer reduced motion queries wd-477
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add skip link wd-477 (#478)
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/skip-link.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev): change page block structure wd-480
  apps/whatislove-dev/src/includes/easter-egg.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/toast.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): 404 page redesign wd-480
  apps/whatislove-dev/src/pages/form.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): 404 page redesign wd-480 (#482)
  apps/whatislove-dev/src/includes/easter-egg.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/toast.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/form.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove easter egg animation in motion mode wd-481
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove easter egg animation in motion mode wd-481 (#484)
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add authorization_endpoint to head wd-486
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add authorization_endpoint to head wd-486 (#487)
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

refactor(whatislove-dev): move channel block to template wd-489
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add articles collection wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): edit setting placement wd-489
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add block or inline article wd-489
  .editorconfig
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/block-or-inline/images/block-and-inline.png
  apps/whatislove-dev/src/articles/block-or-inline/images/can-i-include.jpg
  apps/whatislove-dev/src/articles/block-or-inline/images/check-invalid-markup.png
  apps/whatislove-dev/src/articles/block-or-inline/images/html-element-content-types-with-tags.png
  apps/whatislove-dev/src/articles/block-or-inline/images/html-element-content-types.png
  apps/whatislove-dev/src/articles/block-or-inline/images/html-element-types.png
  apps/whatislove-dev/src/articles/block-or-inline/images/invalid-markup-errors.png
  apps/whatislove-dev/src/articles/block-or-inline/images/select-component-wrong-nesting.png
  apps/whatislove-dev/src/articles/block-or-inline/images/table-component-wrong-nesting.png
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  prettier.config.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add articles link to footer wd-489
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/styles/blocks/footer.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add decorators article wd-489
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/images/old-browser.png
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add github delivery article wd-489
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-actions.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-archived-projects.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-closed-milestones.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-file-history.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-issue-comments.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-issue.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-issues-templates.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-pr-actions.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-pr.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-projects.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-prs.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-statistics.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/github-teams.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/google-docs.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/google-sheets.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/statistics-2022.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/statistics-2023.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/images/trello-board.png
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add js namings article wd-489
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/images/bad-imports.png
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/images/good-imports.png
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add js data structures article wd-489
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add github actions article wd-489
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-action-fail-on-pr.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-action-logs.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-action-success-lint.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-action-success-on-pr.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-action.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-actions-run-history.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/images/github-protected-branches.png
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add deno article wd-489
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/images/pr-changes.png
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/images/ryan-dahl.png
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add ts config article wd-489
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add jsdoc article wd-489
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-classes.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-enum.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-function.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-generic-function.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-type-casting.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/jsdoc-type.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/images/tsx-component.png
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add linter article wd-489
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/images/linter-bad-update-history.png
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/images/linter-good-update-history.png
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add tags to articles wd-489
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add date filter to 11ty config wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  package-lock.json
  packages/shared/src/index.js
  packages/shared/src/libs/helpers/get-iso-date/get-iso-date.helper.js
  packages/shared/src/libs/helpers/helpers.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add article list markup wd-489
  apps/whatislove-dev/src/includes/article-list.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/articles.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): prettify page background variables wd-489
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
