Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

style: edit css nesting orderwd-191
  source/styles/blocks/exp-filter.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

chore: replace prettier yml config with js wd-157
  .eslintrc.yml
  .prettierrc.yml
  prettier.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: replace stylelint yml config with cjs wd-157
  .eslintrc.yml
  .stylelintrc.yml
  stylelint.config.cjs
Due: prettier --write, make lint_editor lint_fs

chore: replace lint-staged yml config with js wd-157
  .eslintrc.yml
  .lintstagedrc.yml
  lint-staged.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: replace eslint yml config with js wd-157
  .eslintrc.yml
  Makefile
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add prettier for njk files
  Makefile
  prettier.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor: add layouts and includes to njk files wd-177
  eleventy.config.cjs
  prettier.config.js
  source/includes/social-list.njk
  source/layouts/page.njk
  source/pages/form.njk
  source/pages/index.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: add robots.txt wd-177
  eleventy.config.cjs
  source/robots.txt
Due: prettier --write, make lint_editor lint_fs

chore: add globals & manifest.json wd-177
  source/data/global.cjs
  source/manifest.njk
  source/manifest.webmanifest
Due: prettier --write, make lint_editor lint_fs

chore: add header wd-177
  source/layouts/page.njk
Due: make lint_editor lint_fs

ci: add njk files to eslint wd-177
  .prettierignore
  eleventy.config.cjs
  lint-staged.config.js
  source/data/global.cjs
  source/layouts/page.njk
  source/manifest.njk
  source/pages/index.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: add not found page wd-145
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/layouts/page.njk
  source/manifest.njk
  source/pages/index.njk
  source/pages/not-found.njk
  source/scripts/libs/components/toast/toast.js
  source/scripts/pages/home/home.js
  source/scripts/pages/home/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/home/libs/components/navigation/navigation.js
  source/scripts/pages/home/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/home/libs/components/settings/settings.js
  source/scripts/pages/home/libs/components/timeline/timeline.js
  source/styles/blocks/header.css
  source/styles/blocks/live-logo.css
  source/styles/blocks/not-found.css
  source/styles/blocks/section-header.css
  source/styles/blocks/settings.css
  source/styles/blocks/starry-sky.css
  source/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat: add not found page wd-145 (#212)
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/layouts/page.njk
  source/manifest.njk
  source/pages/index.njk
  source/pages/not-found.njk
  source/scripts/libs/components/toast/toast.js
  source/scripts/pages/home/home.js
  source/scripts/pages/home/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/home/libs/components/navigation/navigation.js
  source/scripts/pages/home/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/home/libs/components/settings/settings.js
  source/scripts/pages/home/libs/components/timeline/timeline.js
  source/styles/blocks/header.css
  source/styles/blocks/live-logo.css
  source/styles/blocks/not-found.css
  source/styles/blocks/section-header.css
  source/styles/blocks/settings.css
  source/styles/blocks/starry-sky.css
  source/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

refactor: rewrite form page wd-211
  eleventy.config.cjs
  eslint.config.js
  source/data/global.cjs
  source/pages/form.njk
  source/scripts/form.js
  source/scripts/pages/home/home.js
  source/scripts/pages/home/libs/components/components.js
  source/scripts/pages/home/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/home/libs/components/timeline-form/helpers/helpers.js
  source/scripts/pages/home/libs/components/timeline-form/timeline-form.js
  source/styles/blocks/timeline-form.css
  source/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

refactor: rename home page to main wd-211
  source/scripts/index.js
  source/scripts/pages/main/libs/components/components.js
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/easter-egg/libs/constants/constants.js
  source/scripts/pages/main/libs/components/easter-egg/libs/helpers/get-node-random-coords/get-node-random-coords.helper.js
  source/scripts/pages/main/libs/components/easter-egg/libs/helpers/get-player-element/get-player-element.helper.js
  source/scripts/pages/main/libs/components/easter-egg/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/navigation/libs/constants/constants.js
  source/scripts/pages/main/libs/components/navigation/navigation.js
  source/scripts/pages/main/libs/components/settings/libs/components/components.js
  source/scripts/pages/main/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/main/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/main/libs/components/settings/libs/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/scripts/pages/main/libs/components/settings/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/components.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/libs/constants/constants.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/timeline.js
  source/scripts/pages/main/libs/enums/enums.js
  source/scripts/pages/main/libs/enums/setting-button-label.enum.js
  source/scripts/pages/main/libs/enums/setting-name.enum.js
  source/scripts/pages/main/libs/types/settings-button-payload.type.d.ts
  source/scripts/pages/main/libs/types/types.d.ts
  source/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix: remove form page from build wd-211
  eleventy.config.cjs
  source/pages/form.njk
Due: prettier --write, make lint_editor lint_fs

style: add prettier plugin for njk files wd-218
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/includes/social-list.njk
  source/layouts/page.njk
  source/pages/form.njk
  source/pages/index.njk
  source/pages/not-found.njk
  source/scripts/pages/main/libs/components/settings/libs/helpers/get-setting-item-element/get-setting-item-element.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: add prettier plugin for njk files wd-218 (#219)
  eslint.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/includes/social-list.njk
  source/layouts/page.njk
  source/pages/form.njk
  source/pages/index.njk
  source/pages/not-found.njk
  source/scripts/pages/main/libs/components/settings/libs/helpers/get-setting-item-element/get-setting-item-element.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add bem lint wd-218
  Makefile
  lint-staged.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add bem lint wd-218 (#220)
  Makefile
  lint-staged.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add htmllint wd-150
  .linthtmlrc.cjs
  Makefile
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/includes/social-list.njk
  source/layouts/page.njk
  source/pages/form.njk
  source/pages/index.njk
  source/pages/not-found.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add htmllint wd-150 (#221)
  .linthtmlrc.cjs
  Makefile
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/includes/live-logo.njk
  source/includes/settings.njk
  source/includes/social-list.njk
  source/layouts/page.njk
  source/pages/form.njk
  source/pages/index.njk
  source/pages/not-found.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add prettier for md files wd-223
  Makefile
  lint-staged.config.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add prettier for md files wd-223 (#224)
  Makefile
  lint-staged.config.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: remove json server config wd-225
  Makefile
  json-server.json
Due: prettier --write, make lint_editor lint_fs

chore: remove json server config wd-225 (#226)
  Makefile
  json-server.json
Due: prettier --write, make lint_editor lint_fs

chore: update cv wd-167
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

chore: update cv wd-167 (#227)
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

chore: add gitattributes file wd-214
  .gitattributes
Due: make lint_editor lint_fs

chore: add gitattributes file wd-214 (#228)
  .gitattributes
Due: make lint_editor lint_fs

style: edit css sourcemaps output wd-176
  eleventy.config.cjs
Due: prettier --write, make lint_editor lint_fs

style: edit css sourcemaps output wd-176 (#229)
  eleventy.config.cjs
Due: prettier --write, make lint_editor lint_fs

fix: svg favicon wd-175
  eleventy.config.cjs
  package-lock.json
  package.json
  source/images/icons/icon.svg
  source/layouts/page.njk
Due: prettier --write, make lint_editor lint_fs

fix: svg favicon wd-175 (#230)
  eleventy.config.cjs
  package-lock.json
  package.json
  source/images/icons/icon.svg
  source/layouts/page.njk
Due: prettier --write, make lint_editor lint_fs

ci: edit ci steps wd-144
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit ci steps wd-144
  .github/workflows/ci.yml
  source/scripts/index.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type
