Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): edit channel section max-width wd-489
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): move channel block to macro wd-489
  apps/whatislove-dev/src/includes/article-list.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add color to tags in article list wd-489
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add articles page wd-489
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/includes/pagination-list.njk
  apps/whatislove-dev/src/pages/articles.njk
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add articles to nav wd-489
  apps/whatislove-dev/src/data/menu.js
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add toc generation wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/add-toc/libs/enums/block-name.enum.js
  apps/whatislove-dev/src/transforms/add-toc/libs/enums/enums.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/generate-toc-markup/generate-toc-markup.helper.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/get-toc-item-parent/get-toc-item-parent.helper.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/helpers.js
  apps/whatislove-dev/src/transforms/add-toc/libs/types/toc-item.type.js
  apps/whatislove-dev/src/transforms/add-toc/libs/types/types.js
  apps/whatislove-dev/src/transforms/transforms.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add syntaxhighlight plugin wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add tag list include wd-489
  apps/whatislove-dev/src/includes/article-list.njk
  apps/whatislove-dev/src/includes/tag-list.njk
  apps/whatislove-dev/src/styles/blocks/tag-list.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): remove content from not found page wd-489
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/not-found.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add caret icon wd-489
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): improve articles markup wd-489
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): revrite layout using wd-489
  apps/whatislove-dev/src/includes/social-list.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/articles.njk
  apps/whatislove-dev/src/pages/form.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/pagination.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add toc styles wd-489
  apps/whatislove-dev/src/styles/blocks/toc.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): adapt timeline to article changes wd-489
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add article layout wd-489
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add horizontal shadows to pre block wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/transforms/add-pre-shadows/add-pre-shadows.transform.js
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/add-toc/libs/enums/block-name.enum.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/generate-toc-markup/generate-toc-markup.helper.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): edit names for page title and desc wd-489
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add base content styles wd-489
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add monospace font wd-489
  apps/whatislove-dev/src/fonts/monaspace-neon.woff2
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/globals/fonts.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): change article date wd-489
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add accordion template wd-489
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/accordion.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add syntax highlighting to articles wd-489
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/transforms/add-pre-shadows/add-pre-shadows.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): edit scroll shadows size wd-489
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove sticky footer size wd-489
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/styles/blocks/page.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev): rewrite column logic wd-489
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/articles.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/articles.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/box.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/column.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev): rewrite default opened accordion logic wd-489
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

style(whatislove-dev): prettify templates wd-489
  apps/whatislove-dev/src/includes/article-list.njk
Due: make lint_editor lint_fs

style(whatislove-dev): remove useless code wd-489
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add tombstone by the end of article wd-495
  apps/whatislove-dev/src/styles/blocks/article.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add tombstone by the end of article wd-495 (#496)
  apps/whatislove-dev/src/styles/blocks/article.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): add dot at the end of all images alts wd-498
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): add dot at the end of all images alts wd-498 (#499)
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): remove scale -1 1 for icons wd-501 (#502)
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/styles/blocks/channel.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): move pages to folders wd-503
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add sitemap to page wd-503
  .prettierignore
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/sitemap.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add sitemap to website wd-503 (#505)
  .prettierignore
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/sitemap.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add rss feed to website wd-507
  .prettierignore
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/feed.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/manifest.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/footer.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add rss feed to website wd-507 (#508)
  .prettierignore
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/feed.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/manifest.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/footer.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix latest article render wd-510
  apps/whatislove-dev/src/includes/article-list.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
