Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

feat(whatislove-dev): add retry functionality for api calls wd-676
  apps/whatislove-dev/src/data/mentions.js
  packages/shared/src/index.js
  packages/shared/src/libs/helpers/helpers.js
  packages/shared/src/libs/helpers/retry-call/retry-call.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

build(root): add cd action dispatch wd-676
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

build(root): add log deploy output step wd-676
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update 11ty og img plugin to 4.0 wd-701
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update 11ty og img plugin to 4.0 wd-701 (#707)
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add retry functionality for 3d party api calls wd-676 (#706)
  .github/workflows/cd.yml
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/scripts/libs/components/toast/toast.js
  packages/shared/src/index.js
  packages/shared/src/libs/helpers/helpers.js
  packages/shared/src/libs/helpers/retry-call/retry-call.helper.js
  packages/shared/src/libs/helpers/set-async-timeout/set-async-timeout.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

build(root): disable url in cd action wd-708
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

build(root): disable url in cd action wd-708 (#709)
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add foxminded to cv wd-302
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add more info to cv wd-302
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

refactor(shared): edit retryCall function signature wd-676
  apps/whatislove-dev/src/data/mentions.js
  packages/shared/src/libs/helpers/retry-call/retry-call.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add new experience to cv wd-302 (#711)
  apps/whatislove-dev/src/database.json
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: prettier --write, make lint_editor lint_fs

refactor(shared): edit retryCall function signature wd-676 (#712)
  apps/whatislove-dev/src/data/mentions.js
  packages/shared/src/libs/helpers/retry-call/retry-call.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): remove dts files for eslint wd-270
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/certifications-whatislove-dev/eslint.config.js
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/packages.d.ts
  apps/certifications-whatislove-dev/tsconfig.json
  apps/whatislove-dev/eslint.config.js
  eslint.config.js
  package-lock.json
  package.json
  packages/shared/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): remove dts files for eslint wd-270 (#714)
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/certifications-whatislove-dev/eslint.config.js
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/packages.d.ts
  apps/certifications-whatislove-dev/tsconfig.json
  apps/whatislove-dev/eslint.config.js
  eslint.config.js
  package-lock.json
  package.json
  packages/shared/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): update eslint import plugin wd-270
  package-lock.json
  package.json
  packages.d.ts
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs

ci(workspace): edit root project prefix wd-727
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(shared): remove build step wd-730
  knip.config.js
  package-lock.json
  package.json
  packages/shared/package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): update eslint import plugin wd-270 (#728)
  package-lock.json
  package.json
  packages.d.ts
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs

ci(workspace): edit root project prefix wd-727 (#729)
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(root): edit build command wd-730
  package.json
Due: prettier --write, make lint_editor lint_fs

ci(workspace): edit build command wd-730
  package.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add benjamin franklin book wd-717
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

chore(workspace): edit root package name wd-724
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): use official css color wd-718
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(shared): remove build step wd-730 (#731)
  knip.config.js
  package-lock.json
  package.json
  packages/shared/package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): remove search tag ignore from w3c validator wd-652
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add benjamin franklin book wd-717 (#732)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add $100 startup book wd-720
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

chore(workspace): edit root package name wd-724 (#733)
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): use official css color wd-718 (#734)
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(whatislove-dev): remove search tag ignore from w3c validator wd-652 (#736)
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add $100 startup book wd-720 (#737)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): replace fs readfile with import attrs wd-281
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replace dotenv package with node native env reader wd-686
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replace fs readfile with import attrs wd-281 (#738)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(workspace): update nodejs minor version wd-686
  .nvmrc
Due: make lint_editor lint_fs

feat(whatislove-dev): add white book wd-726
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): replace dotenv package with node native env reader wd-686 (#739)
  .nvmrc
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type
