Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): remove preload from process media wd-665
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

feat(careers-whatislove-dev): remove preload from process media wd-665 (#666)
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

feat(careers-whatislove-dev): update favicons wd-339
  apps/careers-whatislove-dev/index.html
  apps/careers-whatislove-dev/public/favicon.ico
  apps/careers-whatislove-dev/public/images/covers/index.png
  apps/careers-whatislove-dev/public/images/favicons/180.png
  apps/careers-whatislove-dev/public/images/favicons/192.png
  apps/careers-whatislove-dev/public/images/favicons/512.png
  apps/careers-whatislove-dev/public/images/favicons/any.svg
  apps/careers-whatislove-dev/public/images/favicons/favicon.ico
  apps/careers-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/careers-whatislove-dev/public/images/icon/icon-192.png
  apps/careers-whatislove-dev/public/images/icon/icon-512.png
  apps/careers-whatislove-dev/public/images/icon/icon.svg
  apps/careers-whatislove-dev/public/images/logo-social.png
  apps/careers-whatislove-dev/public/manifest.json
Due: prettier --write, make lint_editor lint_fs

feat(certifications-whatislove-dev): update favicons wd-339
  apps/certifications-whatislove-dev/index.html
  apps/certifications-whatislove-dev/public/favicon.ico
  apps/certifications-whatislove-dev/public/images/covers/index.png
  apps/certifications-whatislove-dev/public/images/favicons/180.png
  apps/certifications-whatislove-dev/public/images/favicons/192.png
  apps/certifications-whatislove-dev/public/images/favicons/512.png
  apps/certifications-whatislove-dev/public/images/favicons/any.svg
  apps/certifications-whatislove-dev/public/images/favicons/favicon.ico
  apps/certifications-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/certifications-whatislove-dev/public/images/icon/icon-192.png
  apps/certifications-whatislove-dev/public/images/icon/icon-512.png
  apps/certifications-whatislove-dev/public/images/icon/icon.svg
  apps/certifications-whatislove-dev/public/images/logo-social.png
  apps/certifications-whatislove-dev/public/manifest.json
Due: prettier --write, make lint_editor lint_fs

feat(careers-whatislove-dev/certifications-whatislove-dev): update favicons wd-339 (#668)
  apps/careers-whatislove-dev/index.html
  apps/careers-whatislove-dev/public/favicon.ico
  apps/careers-whatislove-dev/public/images/covers/index.png
  apps/careers-whatislove-dev/public/images/favicons/180.png
  apps/careers-whatislove-dev/public/images/favicons/192.png
  apps/careers-whatislove-dev/public/images/favicons/512.png
  apps/careers-whatislove-dev/public/images/favicons/any.svg
  apps/careers-whatislove-dev/public/images/favicons/favicon.ico
  apps/careers-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/careers-whatislove-dev/public/images/icon/icon-192.png
  apps/careers-whatislove-dev/public/images/icon/icon-512.png
  apps/careers-whatislove-dev/public/images/icon/icon.svg
  apps/careers-whatislove-dev/public/images/logo-social.png
  apps/careers-whatislove-dev/public/manifest.json
  apps/certifications-whatislove-dev/index.html
  apps/certifications-whatislove-dev/public/favicon.ico
  apps/certifications-whatislove-dev/public/images/covers/index.png
  apps/certifications-whatislove-dev/public/images/favicons/180.png
  apps/certifications-whatislove-dev/public/images/favicons/192.png
  apps/certifications-whatislove-dev/public/images/favicons/512.png
  apps/certifications-whatislove-dev/public/images/favicons/any.svg
  apps/certifications-whatislove-dev/public/images/favicons/favicon.ico
  apps/certifications-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/certifications-whatislove-dev/public/images/icon/icon-192.png
  apps/certifications-whatislove-dev/public/images/icon/icon-512.png
  apps/certifications-whatislove-dev/public/images/icon/icon.svg
  apps/certifications-whatislove-dev/public/images/logo-social.png
  apps/certifications-whatislove-dev/public/manifest.json
Due: prettier --write, make lint_editor lint_fs

fix(whatislove-dev): fix typo in articles header wd-674
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

fix(whatislove-dev): fix typo in articles header wd-674 (#675)
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci(root): update ls lint version & config wd-180
  .ls-lint.yml
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

ci(root): update ls lint version & config wd-180 (#680)
  .ls-lint.yml
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

style(root): fix indent for editor config wd-681
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
Due: make lint_editor lint_fs

style(root): fix indent for editor config wd-681 (#682)
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
Due: make lint_editor lint_fs

ci(root): update paths in ls lint wd-683
  .ls-lint.yml
Due: prettier --write, make lint_editor lint_fs

ci(root): update paths in ls lint wd-683 (#684)
  .ls-lint.yml
Due: prettier --write, make lint_editor lint_fs

ci(root): update nodejs to lts (20) wd-521
  .nvmrc
  package.json
Due: prettier --write, make lint_editor lint_fs

ci(root): replace fileURLToPath with import.meta.dirname wd-521
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/vite.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style(root): replace slice + sort with toSroted wd-521
  packages/shared/src/libs/helpers/get-shuffled-items/get-shuffled-items.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style(whatislove-dev): replace dotenv package with process.loadEnvFile wd-521
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style(whatislove-dev): revert replace dotenv package with process.loadEnvFile wd-521
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add the subtle art of not giving f*ck book wd-673
  apps/whatislove-dev/src/database.json
  apps/whatislove-dev/src/pages/form/index.njk
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add the subtle art of not giving f*ck book wd-673 (#687)
  apps/whatislove-dev/src/database.json
  apps/whatislove-dev/src/pages/form/index.njk
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add atomic habits book wd-679
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(root): update nodejs to lts (20) wd-521 (#685)
  .nvmrc
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/vite.config.js
  apps/whatislove-dev/src/data/environment.js
  package-lock.json
  package.json
  packages/shared/src/libs/helpers/get-shuffled-items/get-shuffled-items.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add atomic habits book wd-679 (#689)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

fix(certifications-whatislove-dev): update react-pdf & remove overrides wd-619
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

ci(root): remove dts file for unicorn eslint plugin wd-270
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/vite.config.js
  apps/whatislove-dev/eleventy.config.js
  package-lock.json
  package.json
  packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): remove dts file for perfectionist eslint plugin wd-270
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/src/libs/components/app/app.js
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/visually-hidden.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/screen-initial.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/certifications-whatislove-dev/src/libs/components/components.js
  apps/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.package.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
  eslint.config.js
  package-lock.json
  package.json
  packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(certifications-whatislove-dev): update react-pdf & remove overrides wd-619 (#690)
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

feat(root): remove dts file for unicorn & perfectionist eslint plugin wd-270 (#691)
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/src/libs/components/app/app.js
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/visually-hidden.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/screen-initial.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/src/libs/components/components.js
  apps/certifications-whatislove-dev/vite.config.js
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.package.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
  eslint.config.js
  package-lock.json
  package.json
  packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): add border box on form screen wd-693
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(careers-whatislove-dev): add border box on form screen wd-693 (#694)
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): update 11ty to 3.0 wd-699
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add how to win friends book wd-692
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add how to win friends book wd-692 (#702)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add your time your way book wd-696
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add your time your way book wd-696 (#704)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add how to stop worrying book wd-698
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

fix(root): edit cd cron expression wd-676
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add how to stop worrying book wd-698 (#705)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update 11ty to 3.0 wd-699 (#700)
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(shared): update setAsyncTimeout signature wd-676
  apps/whatislove-dev/src/scripts/libs/components/toast/toast.js
  packages/shared/src/libs/helpers/set-async-timeout/set-async-timeout.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
