Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:css, npm run lint:js

T63-BabelNode: + babelrc
  .babelrc
  package.json
Due: npm run lint:editorconfig

T27-GitActions: + deploy script
  package.json
Due: npm run lint:editorconfig

T27-GitActions: + deploy action
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

development: * grammar action mistake
  .github/workflows/deploy.yml
Due: npm run lint:editorconfig

development: * global duration
  source/css/scaffolding.css
Due: npm run lint:editorconfig, npm run lint:css

development: * header space
  source/css/blocks/header.css
Due: npm run lint:editorconfig, npm run lint:css

development: * lintstage config
  .lintstagedrc.yml
Due: npm run lint:editorconfig

development: * css lint script
  package.json
Due: npm run lint:editorconfig

development: + book
  db/database.json
Due: npm run lint:editorconfig

development: * timeline default values
  source/index.html
Due: npm run lint:editorconfig

T66-LsLint: * helper name
  source/js/helpers/boolean/check-is-before-element-h/check-is-before-element-h.helper.js
  source/js/helpers/boolean/index.js
Due: npm run lint:editorconfig, npm run lint:js

T66-LsLint: * helper name
  source/js/helpers/boolean/check-is-before-element/check-is-before-element.helper.js
  source/js/helpers/boolean/index.js
Due: npm run lint:editorconfig, npm run lint:js

T66-LsLint: + ls config
  .ls-lint.yml
  package-lock.json
  package.json
Due: npm run lint:editorconfig

T66-LsLint: * lintstage config
  .lintstagedrc.yml
Due: npm run lint:editorconfig

T69-UpdateDeps: + form-payload package <3
  package-lock.json
  package.json
  source/js/common/enums/dom/control-type.enum.js
  source/js/common/enums/dom/index.js
  source/js/common/enums/index.js
  source/js/helpers/form/get-control-value/get-control-value.helper.js
  source/js/helpers/form/get-control-value/helpers/check-is-refer-to-another-node/check-is-refer-to-another-node.helper.js
  source/js/helpers/form/get-control-value/helpers/index.js
  source/js/helpers/form/get-form-values/get-form-values.helper.js
  source/js/helpers/form/get-form-values/helpers/check-has-allowed-type/check-has-allowed-type.helper.js
  source/js/helpers/form/get-form-values/helpers/check-has-name/check-has-name.helper.js
  source/js/helpers/form/get-form-values/helpers/check-is-element-allowed/check-is-element-allowed.helper.js
  source/js/helpers/form/get-form-values/helpers/get-allowed-elements/get-allowed-elements.helper.js
  source/js/helpers/form/get-form-values/helpers/index.js
  source/js/helpers/form/index.js
Due: npm run lint:editorconfig, npm run lint:js

T69-UpdateDeps: * update all deps
  package-lock.json
  package.json
Due: npm run lint:editorconfig

T67-GitHooks: * git hooks package
  package.json
Due: npm run lint:editorconfig

T67-GitHooks: * package lock json
  package-lock.json
Due: npm run lint:editorconfig

development: * prefer motion styles
  source/css/scaffolding.css
  source/js/pages/index/components/settings/common/maps/setting-mame-to-check-types.map.js
Due: npm run lint:editorconfig, npm run lint:css, npm run lint:js

development: * code style
  source/js/pages/index/components/timeline/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/js/server/validation-schemas/timeline/timeline.validation-schema.js
Due: npm run lint:editorconfig, npm run lint:js

T74-RemovePrettier: - prettier
  .eslintrc.yml
  .lintstagedrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
Due: npm run lint:editorconfig

T76-MakeFile: + makefile
  .editorconfig
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  Makefile
Due: npm run lint:editorconfig

T72-GitHubOwners: + github owners
  .github/CODEOWNERS
Due: npm run lint:editorconfig

T72-RemoveFocusVisible: - remove focus visible
  package-lock.json
  package.json
  source/css/scaffolding.css
  source/js/main.js
Due: npm run lint:editorconfig, npm run lint:css, npm run lint:js

T77-NodeEnv: - yards package
  Makefile
  gulp/config.mjs
  package.json
Due: npm run lint:editorconfig

development: * makefile
  Makefile
Due: npm run lint:editorconfig

T76-JsonServer: * save timeline functionality
  source/js/pages/form/form.page.js
  source/js/pages/form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/js/pages/form/helpers/index.js
Due: npm run lint:editorconfig, npm run lint:js

T76-JsonServer: + json server config
  Makefile
  json-server.json
Due: npm run lint:editorconfig

T76-JsonServer: - mjs files
  .eslintrc.yml
  gulp/config.js
  gulp/helpers/array/array.js
  gulp/helpers/array/array.mjs
  gulp/helpers/array/get-truthy-items/get-truthy-items.helper.js
  gulp/helpers/fs/check-is-file-exists/check-is-file-exists.helper.js
  gulp/helpers/fs/fs.js
  gulp/helpers/fs/fs.mjs
  gulp/helpers/fs/make-dir/make-dir.helper.js
  gulp/helpers/fs/read-dir/read-dir.helper.js
  gulp/helpers/fs/read-file/read-file.helper.js
  gulp/helpers/fs/write-file/write-file.helper.js
  gulp/helpers/gulp/gulp.js
  gulp/helpers/gulp/gulp.mjs
  gulp/helpers/gulp/include-file/include-file.helper.js
  gulp/helpers/helpers.js
  gulp/helpers/helpers.mjs
  gulp/helpers/path/join-paths/join-paths.helper.js
  gulp/helpers/path/path.js
  gulp/helpers/path/path.mjs
  gulp/tasks/api/api.task.js
  gulp/tasks/cache/cache.task.js
  gulp/tasks/clean/clean.task.js
  gulp/tasks/cleanup/cleanup.task.js
  gulp/tasks/copy/copy.task.js
  gulp/tasks/css/css.task.js
  gulp/tasks/html/html.task.js
  gulp/tasks/images/images.task.js
  gulp/tasks/js/js.task.js
  gulp/tasks/server/server.task.js
  gulp/tasks/sprite/sprite.task.js
  gulp/tasks/tasks.js
  gulp/tasks/tasks.mjs
  gulp/tasks/webp/webp.task.js
  gulpfile.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for common files
  source/js/common/enums/api/api.js
  source/js/common/enums/api/index.js
  source/js/common/enums/app/app.js
  source/js/common/enums/app/index.js
  source/js/common/enums/event/event.js
  source/js/common/enums/event/keyboard-key.enum.js
  source/js/common/enums/events/index.js
  source/js/common/enums/exception/custom-exception-name.enum.js
  source/js/common/enums/exception/exception.js
  source/js/common/enums/exceptions/index.js
  source/js/common/enums/file/file.js
  source/js/common/enums/file/index.js
  source/js/common/enums/http/http.js
  source/js/common/enums/http/index.js
  source/js/common/enums/index.js
  source/js/common/enums/notification/index.js
  source/js/common/enums/notification/notification.js
  source/js/common/enums/setting/index.js
  source/js/common/enums/setting/setting.js
  source/js/common/enums/timeline/index.js
  source/js/common/enums/timeline/timeline.js
  source/js/common/maps/boolean/boolean.js
  source/js/common/maps/boolean/index.js
  source/js/common/maps/index.js
  source/js/common/maps/maps.js
  source/js/common/maps/number/index.js
  source/js/common/maps/number/number.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: * file ext for common files
  source/js/common/enums/enums.js
  source/js/common/enums/index.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for helpers
  source/js/helpers/api/api.js
  source/js/helpers/api/index.js
  source/js/helpers/boolean/boolean.js
  source/js/helpers/boolean/index.js
  source/js/helpers/date/date.js
  source/js/helpers/date/index.js
  source/js/helpers/dom/dom.js
  source/js/helpers/dom/index.js
  source/js/helpers/dom/subscribe-focus-trap/subscribe-focus-trap.helper.js
  source/js/helpers/form/fill-select-options/fill-select-options.helper.js
  source/js/helpers/form/form.js
  source/js/helpers/form/index.js
  source/js/helpers/helpers.js
  source/js/helpers/index.js
  source/js/helpers/number/get-random-number/get-random-number.helper.js
  source/js/helpers/number/index.js
  source/js/helpers/number/number.js
  source/js/helpers/string/index.js
  source/js/helpers/string/string.js
  source/js/helpers/timeout/index.js
  source/js/helpers/timeout/timeout.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for component
  source/js/components/components.js
  source/js/components/index.js
  source/js/components/loader/helpers/get-loader-element/get-loader-element.helper.js
  source/js/components/loader/helpers/helpers.js
  source/js/components/loader/helpers/index.js
  source/js/components/loader/loader.component.js
  source/js/components/toast/toast.component.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for exceptions
  source/js/exceptions/exceptions.js
  source/js/exceptions/http-error/http-error.exception.js
  source/js/exceptions/index.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for pages
  source/js/pages/form/form.page.js
  source/js/pages/form/helpers/helpers.js
  source/js/pages/index/components/components.js
  source/js/pages/index/components/easter-egg/easter-egg.component.js
  source/js/pages/index/components/easter-egg/helpers/get-node-random-coords/get-node-random-coords.helper.js
  source/js/pages/index/components/easter-egg/helpers/get-player-element/get-player-element.helper.js
  source/js/pages/index/components/easter-egg/helpers/helpers.js
  source/js/pages/index/components/easter-egg/helpers/index.js
  source/js/pages/index/components/index.js
  source/js/pages/index/components/navigation/navigation.component.js
  source/js/pages/index/components/settings/common/enums/enums.js
  source/js/pages/index/components/settings/common/enums/index.js
  source/js/pages/index/components/settings/common/maps/maps.js
  source/js/pages/index/components/settings/common/maps/setting-name-to-check-types.map.js
  source/js/pages/index/components/settings/components/components.js
  source/js/pages/index/components/settings/components/setting-button/helpers/check-is-checked/check-is-checked.helper.js
  source/js/pages/index/components/settings/components/setting-button/helpers/helpers.js
  source/js/pages/index/components/settings/components/setting-button/helpers/index.js
  source/js/pages/index/components/settings/components/setting-button/setting-button.component.js
  source/js/pages/index/components/settings/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/js/pages/index/components/settings/helpers/helpers.js
  source/js/pages/index/components/settings/helpers/index.js
  source/js/pages/index/components/settings/settings.component.js
  source/js/pages/index/components/timeline/components/components.js
  source/js/pages/index/components/timeline/components/timeline-form/timeline-form.component.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-icon-path/get-icon-path.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/helpers.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/index.js
  source/js/pages/index/components/timeline/components/timeline-list/timeline-list.component.js
  source/js/pages/index/components/timeline/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/js/pages/index/components/timeline/helpers/helpers.js
  source/js/pages/index/components/timeline/helpers/index.js
  source/js/pages/index/components/timeline/timeline.component.js
  source/js/pages/index/index.page.js
  source/js/pages/pages.js
Due: npm run lint:editorconfig, npm run lint:js

T74-FileExt: + file ext for all js files
  .eslintrc.yml
  source/js/form.js
  source/js/main.js
  source/js/pages/index/components/settings/common/maps/maps.js
  source/js/services/http/http.service.js
  source/js/services/services.js
  source/js/services/timeline-api/timeline-api.server.js
Due: npm run lint:editorconfig, npm run lint:js

T68-AddFocusEasterEgg: + focus after easter egg
  source/js/pages/index/components/easter-egg/easter-egg.component.js
  source/js/pages/index/components/settings/components/setting-button/setting-button.component.js
  source/js/pages/index/components/settings/settings.component.js
  source/js/pages/index/index.page.js
Due: npm run lint:editorconfig, npm run lint:js

task/T70-ActionNotification: + add notification
  .github/workflows/deploy.yml
  .github/workflows/notify.yml
Due: npm run lint:editorconfig

Path conditions:
  npm run lint:editorconfig: any of: *
  npm run lint:css: any of: *.css
  npm run lint:js: any of: *.js
