Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

refactor(whatislove-dev): use css nesting to glue classes wd-552
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add target to external links in content wd-554
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): use css nesting to glue classes wd-552 (#553)
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): update linkedom package wd-554
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add target to external links in content wd-554 (#555)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add styles to article og image wd-557
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/data/environment.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/images/logo.svg
  apps/whatislove-dev/src/images/vladyslav-zubko.png
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add styles to article og image wd-557 (#559)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/data/environment.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/images/logo.svg
  apps/whatislove-dev/src/images/vladyslav-zubko.png
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): change flag logic for mentions feature wd-561
  apps/whatislove-dev/src/data/mentions.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix accordion default opening wd-561
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/src/includes/accordion.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix accordion default opening wd-561 (#562)
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/includes/accordion.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): edit channel responsive wd-565
  apps/whatislove-dev/src/styles/blocks/channel.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit stickers responsive wd-565
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add content--flow modifier wd-567
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add links to external resources for comments wd-567
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): fix channel & stickers responsive wd-565 (#566)
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add links to external resources for comments wd-567 (#568)
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/not-found.css
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): box overlay click wd-570
  apps/whatislove-dev/src/styles/blocks/box.css
  apps/whatislove-dev/src/styles/blocks/main.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): box overlay click wd-570 (#571)
  apps/whatislove-dev/src/styles/blocks/box.css
  apps/whatislove-dev/src/styles/blocks/main.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove relative from article block wd-569
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): fix js data structures article wd-569
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): fix deno article wd-569
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): fix github actions article wd-569
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): fix decorators article wd-569
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): fix js namings article wd-569
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): fix github delivery article wd-569
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): add overflow-wrap to body wd-569
  apps/whatislove-dev/src/styles/blocks/page.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): prettify articles markdown wd-569 (#573)
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/page.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): improve articles descriptions wd-575
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): improve articles descriptions wd-575 (#576)
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

ci(whatislove-dev): create w3c validator ignore file wd-579
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/package.json
Due: prettier --write, make lint_editor lint_fs

ci(whatislove-dev): escape github expressions in articles wd-579
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

ci(whatislove-dev): escape github expressions in articles wd-579 (#580)
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: prettier --write, make lint_editor lint_fs

fix(whatislove-dev): edit fonts according to the design wd-582
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/pagination-list.njk
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit fonts according to the design wd-582 (#587)
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/pagination-list.njk
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove summary marker icon from all browsers wd-583
  apps/whatislove-dev/src/styles/blocks/accordion.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove summary marker icon from all browsers wd-583 (#589)
  apps/whatislove-dev/src/styles/blocks/accordion.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove useless labels from settings wd-585
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit space in headers wd-585
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): improve alt for webmentions wd-585
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): fix wave accessibility issues wd-585 (#590)
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css
