Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

chore: move tsconfig to root level wd-291
  packages/whatislove.dev/tsconfig.json
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs

chore: edit packages in lslint config wd-291
  .ls-lint.yml
Due: prettier --write, make lint_editor lint_fs

chore: edit prettier ignore for packages wd-291
  .prettierignore
Due: make lint_editor lint_fs

chore: move linthtml back to package wd-291
  packages/whatislove.dev/.linthtmlrc.cjs
Due: prettier --write, make lint_editor lint_fs

chore: add ignore to eslint wd-291
  eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: add workspaces to knip wd-291
  knip.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: split tsconfigs knip wd-291
  packages.d.ts
  packages/whatislove.dev/packages.d.ts
  packages/whatislove.dev/tsconfig.json
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs

chore: split stylelint config wd-291
  packages/whatislove.dev/stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: split eslint config wd-291
  packages/whatislove.dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: split lintstage config wd-291
  lint-staged.config.js
  packages/whatislove.dev/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: split package.jsons wd-291
  package-lock.json
  package.json
  packages/whatislove.dev/package.json
Due: prettier --write, make lint_editor lint_fs

chore: replace gh-pages with netlify wd-291
  .github/workflows/cd.yml
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

chore: edit release flow wd-291
  .ls-lint.yml
  .prettierignore
  .release-please-manifest.json
  commitlint.config.js
  knip.config.js
  package-lock.json
  package.json
  packages/whatislove-dev/CHANGELOG.md
  packages/whatislove-dev/package.json
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: edit cd flow wd-291
  .github/workflows/cd.yml
  .prettierignore
  package.json
Due: prettier --write, make lint_editor lint_fs

style(whatislove-dev): rename packages to modules wd-291
  packages/whatislove-dev/eslint.config.js
  packages/whatislove-dev/src/scripts/globals.d.ts
  packages/whatislove-dev/src/scripts/index.js
  packages/whatislove-dev/src/scripts/libs/modules/http/http.js
  packages/whatislove-dev/src/scripts/libs/modules/http/http.package.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/enums.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-code.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-header.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-method.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/exceptions/exceptions.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/exceptions/http-error/http-error.exception.js
  packages/whatislove-dev/src/scripts/libs/modules/storage/storage.js
  packages/whatislove-dev/src/scripts/libs/modules/storage/storage.package.js
  packages/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.js
  packages/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.package.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/enums.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-api-path.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-skill-type.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-type.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline-create-payload.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline-filter.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/types.js
  packages/whatislove-dev/src/scripts/modules/timeline/timeline-api.js
  packages/whatislove-dev/src/scripts/modules/timeline/timeline.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/settings/settings.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
  packages/whatislove-dev/src/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

docs: adapt readme to monorep style wd-291
  readme.md
Due: make lint_editor lint_fs

chore: adapt add style to monorep approach wd-291 (#312)
  packages/whatislove-dev/eslint.config.js
  packages/whatislove-dev/src/scripts/globals.d.ts
  packages/whatislove-dev/src/scripts/index.js
  packages/whatislove-dev/src/scripts/libs/modules/http/http.js
  packages/whatislove-dev/src/scripts/libs/modules/http/http.package.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/enums.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-code.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-header.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/enums/http-method.enum.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/exceptions/exceptions.js
  packages/whatislove-dev/src/scripts/libs/modules/http/libs/exceptions/http-error/http-error.exception.js
  packages/whatislove-dev/src/scripts/libs/modules/storage/storage.js
  packages/whatislove-dev/src/scripts/libs/modules/storage/storage.package.js
  packages/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.js
  packages/whatislove-dev/src/scripts/libs/modules/whatislove-math/whatislove-math.package.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/enums.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-api-path.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-skill-type.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/enums/timeline-type.enum.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline-create-payload.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline-filter.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/timeline.type.js
  packages/whatislove-dev/src/scripts/modules/timeline/libs/types/types.js
  packages/whatislove-dev/src/scripts/modules/timeline/timeline-api.js
  packages/whatislove-dev/src/scripts/modules/timeline/timeline.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/settings/settings.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  packages/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
  packages/whatislove-dev/src/scripts/pages/main/main.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style(certifications-whatislove-dev): use modern render from react wd-311
  packages/certifications-whatislove-dev/src/index.jsx
Due: make lint_editor lint_fs

style(certifications-whatislove-dev): prettify index.html wd-311
  packages/certifications-whatislove-dev/index.html
  packages/certifications-whatislove-dev/public/favicon.ico
  packages/certifications-whatislove-dev/public/images/icons/icon.svg
  packages/certifications-whatislove-dev/public/images/logo-social.png
  packages/certifications-whatislove-dev/src/index.jsx
  packages/certifications-whatislove-dev/src/libs/components/components.js
  packages/whatislove-dev/src/layouts/page.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: add netlify.toml to apps wd-316
  .editorconfig
  .github/workflows/cd.yml
  packages/certifications-whatislove-dev/netlify.toml
  packages/whatislove-dev/netlify.toml
Due: prettier --write, make lint_editor lint_fs

feat: add netlify.toml to apps wd-316 (#317)
  .editorconfig
  .github/workflows/cd.yml
  packages/certifications-whatislove-dev/netlify.toml
  packages/whatislove-dev/netlify.toml
Due: prettier --write, make lint_editor lint_fs

ci: replace postinstall script with custom one wd-303
  package.json
  readme.md
Due: prettier --write, make lint_editor lint_fs

ci: replace postinstall script with custom one wd-303 (#319)
  package.json
  readme.md
Due: prettier --write, make lint_editor lint_fs

style: edit git hook scripts desc wd-248
  package.json
  readme.md
Due: prettier --write, make lint_editor lint_fs

ci: remove postinstall script wd-248
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci(whatislove-dev): remove disabled attr-req-value linthtml rule wd-248
  packages/whatislove-dev/.linthtmlrc.cjs
  packages/whatislove-dev/package.json
Due: prettier --write, make lint_editor lint_fs

ci(whatislove-dev): remove disabled attr-req-value linthtml rule wd-248 (#320)
  package-lock.json
  package.json
  packages/whatislove-dev/.linthtmlrc.cjs
  packages/whatislove-dev/package.json
  readme.md
Due: prettier --write, make lint_editor lint_fs

ci: change css custom property pattern wd-309
  packages/whatislove-dev/package.json
  packages/whatislove-dev/src/styles/blocks/exp-filter.css
  packages/whatislove-dev/src/styles/blocks/favorites.css
  packages/whatislove-dev/src/styles/blocks/footer.css
  packages/whatislove-dev/src/styles/blocks/form-control.css
  packages/whatislove-dev/src/styles/blocks/header.css
  packages/whatislove-dev/src/styles/blocks/intro.css
  packages/whatislove-dev/src/styles/blocks/live-logo.css
  packages/whatislove-dev/src/styles/blocks/loader.css
  packages/whatislove-dev/src/styles/blocks/navigation.css
  packages/whatislove-dev/src/styles/blocks/not-easter-egg.css
  packages/whatislove-dev/src/styles/blocks/not-found.css
  packages/whatislove-dev/src/styles/blocks/page.css
  packages/whatislove-dev/src/styles/blocks/section-header.css
  packages/whatislove-dev/src/styles/blocks/settings.css
  packages/whatislove-dev/src/styles/blocks/social-list.css
  packages/whatislove-dev/src/styles/blocks/starry-sky.css
  packages/whatislove-dev/src/styles/blocks/timeline.css
  packages/whatislove-dev/src/styles/blocks/toast.css
  packages/whatislove-dev/src/styles/globals/scrollbar.css
  packages/whatislove-dev/src/styles/globals/theme.css
  packages/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci: replace stylelint-order with recess-order wd-309
  package-lock.json
  package.json
  packages/certifications-whatislove-dev/src/libs/components/app/styles.css
  packages/certifications-whatislove-dev/src/pages/not-found/styles.module.css
  packages/whatislove-dev/src/styles/blocks/exp-filter.css
  packages/whatislove-dev/src/styles/blocks/favorites.css
  packages/whatislove-dev/src/styles/blocks/footer.css
  packages/whatislove-dev/src/styles/blocks/form-control.css
  packages/whatislove-dev/src/styles/blocks/header.css
  packages/whatislove-dev/src/styles/blocks/intro.css
  packages/whatislove-dev/src/styles/blocks/loader.css
  packages/whatislove-dev/src/styles/blocks/navigation.css
  packages/whatislove-dev/src/styles/blocks/not-easter-egg.css
  packages/whatislove-dev/src/styles/blocks/not-found.css
  packages/whatislove-dev/src/styles/blocks/page.css
  packages/whatislove-dev/src/styles/blocks/section-header.css
  packages/whatislove-dev/src/styles/blocks/settings.css
  packages/whatislove-dev/src/styles/blocks/social-list.css
  packages/whatislove-dev/src/styles/blocks/starry-sky.css
  packages/whatislove-dev/src/styles/blocks/timeline.css
  packages/whatislove-dev/src/styles/blocks/toast.css
  packages/whatislove-dev/src/styles/blocks/visually-hidden.css
  packages/whatislove-dev/src/styles/globals/animations.css
  packages/whatislove-dev/src/styles/globals/fonts.css
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix: remove disables from stylelint wd-309 (#322)
  package-lock.json
  package.json
  packages/certifications-whatislove-dev/src/libs/components/app/styles.css
  packages/certifications-whatislove-dev/src/pages/not-found/styles.module.css
  packages/whatislove-dev/package.json
  packages/whatislove-dev/src/styles/blocks/exp-filter.css
  packages/whatislove-dev/src/styles/blocks/favorites.css
  packages/whatislove-dev/src/styles/blocks/footer.css
  packages/whatislove-dev/src/styles/blocks/form-control.css
  packages/whatislove-dev/src/styles/blocks/header.css
  packages/whatislove-dev/src/styles/blocks/intro.css
  packages/whatislove-dev/src/styles/blocks/live-logo.css
  packages/whatislove-dev/src/styles/blocks/loader.css
  packages/whatislove-dev/src/styles/blocks/navigation.css
  packages/whatislove-dev/src/styles/blocks/not-easter-egg.css
  packages/whatislove-dev/src/styles/blocks/not-found.css
  packages/whatislove-dev/src/styles/blocks/page.css
  packages/whatislove-dev/src/styles/blocks/section-header.css
  packages/whatislove-dev/src/styles/blocks/settings.css
  packages/whatislove-dev/src/styles/blocks/social-list.css
  packages/whatislove-dev/src/styles/blocks/starry-sky.css
  packages/whatislove-dev/src/styles/blocks/timeline.css
  packages/whatislove-dev/src/styles/blocks/toast.css
  packages/whatislove-dev/src/styles/blocks/visually-hidden.css
  packages/whatislove-dev/src/styles/globals/animations.css
  packages/whatislove-dev/src/styles/globals/fonts.css
  packages/whatislove-dev/src/styles/globals/scrollbar.css
  packages/whatislove-dev/src/styles/globals/theme.css
  packages/whatislove-dev/src/styles/globals/variables.css
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat: add shared packages wd-236
  .ls-lint.yml
  .release-please-manifest.json
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/src/libs/types/types.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/scripts/libs/types/types.js
  apps/whatislove-dev/src/scripts/libs/types/values-of.type.js
  commitlint.config.js
  eslint.config.js
  knip.config.js
  package-lock.json
  package.json
  packages/shared/eslint.config.js
  packages/shared/lint-staged.config.js
  packages/shared/package.json
  packages/shared/src/index.js
  packages/shared/src/libs/types/types.js
  packages/shared/src/libs/types/values-of.type.js
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.json
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

docs: add packages and apps to root readme wd-236
  readme.md
Due: make lint_editor lint_fs

style: edit lslint ignore order wd-236
  .ls-lint.yml
Due: prettier --write, make lint_editor lint_fs

ci: add packages build to dependencies cache wd-236
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs
