Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add favicon wd-334
  apps/careers-whatislove-dev/index.html
  apps/careers-whatislove-dev/public/favicon.ico
  apps/careers-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/careers-whatislove-dev/public/images/icon/icon-192.png
  apps/careers-whatislove-dev/public/images/icon/icon-512.png
  apps/careers-whatislove-dev/public/images/icon/icon.svg
  apps/careers-whatislove-dev/public/images/logo-social.png
  apps/careers-whatislove-dev/public/manifest.webmanifest
  apps/certifications-whatislove-dev/index.html
  apps/certifications-whatislove-dev/public/favicon.ico
  apps/certifications-whatislove-dev/public/images/icon/apple-touch-icon.png
  apps/certifications-whatislove-dev/public/images/icon/icon-192.png
  apps/certifications-whatislove-dev/public/images/icon/icon-512.png
  apps/certifications-whatislove-dev/public/images/icon/icon.svg
  apps/certifications-whatislove-dev/public/images/icons/icon.svg
  apps/certifications-whatislove-dev/public/manifest.json
  apps/certifications-whatislove-dev/public/manifest.webmanifest
Due: prettier --write, make lint_editor lint_fs

chore: install lightningcss to all workspaces wd-344
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/src/libs/components/icon/icon.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/certifications-whatislove-dev/package.json
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: reinstall package-lock.json wd-334
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

chore: move lightningcss to root only wd-334
  apps/careers-whatislove-dev/package.json
  apps/certifications-whatislove-dev/package.json
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: update linthtml plugins wd-334
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci: remove linthtml linter wd-334
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci: update knip package wd-337
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/src/index.js
  apps/certifications-whatislove-dev/package.json
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: update knip to leatest version wd-337
  apps/careers-whatislove-dev/src/index.js
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: update knip package wd-337 (#368)
  apps/careers-whatislove-dev/package.json
  apps/certifications-whatislove-dev/package.json
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add pomodoro book wd-351
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add pomodoro book wd-351 (#371)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add steal like artist book wd-369
  apps/whatislove-dev/src/database.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add steal like artist book wd-369 (#374)
  apps/whatislove-dev/src/database.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat: update release action to latest version wd-376
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat: update release action to latest version wd-376 (#377)
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

fix(careers-whatislove-dev): improve cross browser styles wd-334
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(careers-whatislove-dev): improve cross browser styles wd-334 (#379)
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add gitkeep to videos folder wd-364
  apps/careers-whatislove-dev/public/videos/.gitkeep
Due: make lint_editor lint_fs

fix(careers-whatislove-dev): improve cross browser styles wd-334
  apps/careers-whatislove-dev/src/assets/styles/animations.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(careers-whatislove-dev): improve cross browser styles wd-334 (#383)
  apps/careers-whatislove-dev/src/assets/styles/animations.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor: updateeaster egg logic wd-385
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/libs/helpers/get-easter-egg-control/get-easter-egg-control.helper.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/libs/helpers/get-player-element/get-player-element.helper.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/libs/helpers/helpers.js
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat: add tablet adaptive wd-385
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/globals/medias.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

refactor: edit css variables wd-385
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: add desktop adaptive wd-385
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat: replace grid flow with flex wd-391
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: replace grid flow with flex wd-391 (#392)
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: add sticker to logo wd-390
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: add sticker to logo wd-390 (#394)
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: replace hex with hsl colors wd-396
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor: change style of css vars wd-396
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/scrollbar.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: replace hex with hsl colors wd-396 (#397)
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/scrollbar.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: add action to paw wd-402
  apps/whatislove-dev/src/scripts/libs/enums/notification-message.enum.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/components.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/paw/libs/constants/constants.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/paw/paw.js
  apps/whatislove-dev/src/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: add action to paw wd-402 (#403)
  .release-please-manifest.json
  CHANGELOG.md
  apps/whatislove-dev/CHANGELOG.md
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/scripts/libs/enums/notification-message.enum.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/components.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/paw/libs/constants/constants.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/paw/paw.js
  apps/whatislove-dev/src/scripts/pages/main/main.js
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/scrollbar.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add new Big Magic book wd-386
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add new Big Magic book wd-386 (#405)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
