Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint_editorconfig lint_fs, make lint_css, make lint_js

.lintstagedrc.yml:

'*': make lint_editorconfig lint_fs
'*.css': make lint_css
'*.js': make lint_js

production: * will change properties
  source/css/blocks/intro.css
  source/css/blocks/settings.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * resume
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editorconfig lint_fs

production: + intro image order
  source/css/blocks/favorites.css
  source/css/blocks/intro.css
  source/css/blocks/not-easter-egg.css
  source/img/intro-photo-border.mask.svg
  source/img/whatislove-zubko.photo.png
  source/img/whatislove-zubko@2x.photo.png
Due: make lint_editorconfig lint_fs, make lint_css

production: * main image styles
  source/css/blocks/intro.css
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: + new book
  db/database.json
Due: make lint_editorconfig lint_fs

production: * last book
  db/database.json
Due: make lint_editorconfig lint_fs

production: * cv
  db/database.json
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editorconfig lint_fs

production: + new book
  db/database.json
  source/css/blocks/intro.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * page title
  source/index.html
  source/manifest.webmanifest
Due: make lint_editorconfig lint_fs

production: - phone number
  source/css/blocks/intro.css
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: + new cerificate
  db/database.json
Due: make lint_editorconfig lint_fs

production: + new books
  db/database.json
Due: make lint_editorconfig lint_fs

production: * editor config
  .editorconfig
Due: make lint_editorconfig lint_fs

production: * eat the frog book desc
  db/database.json
Due: make lint_editorconfig lint_fs

chore: add commitlint config wd-148
  .eslintrc.yml
  commitlint.config.js
  package-lock.json
  package.json
  project.config.js
Due: make lint_editorconfig lint_fs, make lint_js

ci: add pr ci action wd-148
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

ci: remove notify action wd-148
  .github/workflows/notify.yml
Due: make lint_editorconfig lint_fs

chore: * makefile file name wd-148
  .npmrc
  Makefile
Due: make lint_editorconfig lint_fs

build: remove gulp wd-153
  .eslintrc.yml
  .nvmrc
  gulp/config.js
  gulp/helpers/array/array.js
  gulp/helpers/array/get-truthy-items/get-truthy-items.helper.js
  gulp/helpers/fs/check-is-file-exists/check-is-file-exists.helper.js
  gulp/helpers/fs/fs.js
  gulp/helpers/fs/make-dir/make-dir.helper.js
  gulp/helpers/fs/read-dir/read-dir.helper.js
  gulp/helpers/fs/read-file/read-file.helper.js
  gulp/helpers/fs/write-file/write-file.helper.js
  gulp/helpers/gulp/gulp.js
  gulp/helpers/gulp/include-file/include-file.helper.js
  gulp/helpers/helpers.js
  gulp/helpers/path/join-paths/join-paths.helper.js
  gulp/helpers/path/path.js
  gulp/tasks/api/api.task.js
  gulp/tasks/cache/cache.task.js
  gulp/tasks/clean/clean.task.js
  gulp/tasks/cleanup/cleanup.task.js
  gulp/tasks/copy/copy.task.js
  gulp/tasks/css/css.task.js
  gulp/tasks/html/html.task.js
  gulp/tasks/images/images.task.js
  gulp/tasks/js/js.task.js
  gulp/tasks/server/server.task.js
  gulp/tasks/svg/svg.task.js
  gulp/tasks/tasks.js
  gulp/tasks/webp/webp.task.js
  gulpfile.js
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs, make lint_js

build: edit css bundling wd-153
  eleventy.config.cjs
Due: make lint_editorconfig lint_fs

chore: add Staff Engineer book wd-164
  source/database.json
Due: make lint_editorconfig lint_fs

chore: add An Elegant Puzzle book wd-170
  source/database.json
Due: make lint_editorconfig lint_fs

chore: add author to An Elegant Puzzle book wd-172
  source/database.json
Due: make lint_editorconfig lint_fs

chore: add Influence: Science and Practice book wd-172
  source/database.json
Due: make lint_editorconfig lint_fs

chore: add prettier lint wd-179
  .eslintrc.yml
  .lintstagedrc.yml
  .prettierrc.yml
  .stylelintrc.yml
  Makefile
  eleventy.config.cjs
  source/styles/blocks/favorites.css
  source/styles/blocks/header.css
  source/styles/globals/fonts.css
Due: make lint_editorconfig lint_fs, make lint_css
