Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

build: edit release pr title pattern wd-324
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

build: edit release pr title pattern wd-324 (#329)
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add 80/20 principle book wd-325
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add 80/20 principle book wd-325 (#330)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

chore: update knip to v4 & remove useless settings wd-308
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

chore: update knip to v4 & remove useless settings wd-308 (#332)
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

ci: move format lint on any file change wd-321
  lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: move format lint on any file change wd-321 (#333)
  lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add new The 5 Second Rule book wd-335
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

build: edit version of Node.js wd-335
  .nvmrc
Due: make lint_editor lint_fs

feat(whatislove-dev): add new The 5 Second Rule book wd-335 (#341)
  .nvmrc
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add new Unfuck Yourself book wd-335
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add new Unfuck Yourself book wd-335 (#344)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add new Outliers book wd-340
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add new Outliers book wd-340 (#346)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev/shared): move keyboard-key enum to shared wd-334
  apps/whatislove-dev/src/scripts/libs/enums/enums.js
  packages/shared/src/index.js
  packages/shared/src/libs/enums/enums.js
  packages/shared/src/libs/enums/keyboard-key.enum.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(certifications-whatislove-dev): move vite to root deps wd-334
  apps/certifications-whatislove-dev/package.json
  package.json
Due: prettier --write, make lint_editor lint_fs

ci: edit root tsconfig wd-334
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs

feat: init new careers app wd-334
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/index.html
  apps/careers-whatislove-dev/lint-staged.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  apps/careers-whatislove-dev/stylelint.config.js
  apps/careers-whatislove-dev/tsconfig.json
  apps/careers-whatislove-dev/vite.config.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: convert linthtml to esm wd-222
  apps/whatislove-dev/.linthtmlrc.cjs
  apps/whatislove-dev/eslint.config.js
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add linthtml to eslint ignore wd-222
  apps/whatislove-dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: convert linthtml to esm wd-222 (#349)
  apps/whatislove-dev/.linthtmlrc.cjs
  apps/whatislove-dev/eslint.config.js
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/package.json
  knip.config.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): update linthtml to latest & remove unused deps wd-222
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): add play button handler wd-334
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/assets/styles/variables.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/vite.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add notify on form submit wd-334
  apps/careers-whatislove-dev/src/libs/modules/config/config.js
  apps/careers-whatislove-dev/src/libs/modules/config/config.module.js
  apps/careers-whatislove-dev/src/libs/modules/database/database.js
  apps/careers-whatislove-dev/src/libs/modules/database/database.module.js
  apps/careers-whatislove-dev/src/libs/modules/notify/notify.js
  apps/careers-whatislove-dev/src/libs/modules/notify/notify.module.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/root.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): add main header wd-334
  apps/careers-whatislove-dev/src/libs/components/app/app.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): edit phrase timestamps and delay wd-334
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/libs/constants/process-phrase-duration-ms.constant.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/libs/constants/process-phrase-timestamps.constant.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/root.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): update stylelint to latest wd-334
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

feat(careers-whatislove-dev): add info tooltip wd-334
  apps/careers-whatislove-dev/public/images/icons/info.svg
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/assets/styles/variables.css
  apps/careers-whatislove-dev/src/libs/modules/notify/notify.module.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/templates/get-info-template/get-info-template.template.js
  apps/careers-whatislove-dev/src/pages/root/libs/templates/templates.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add random process video generato wd-334
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
  apps/careers-whatislove-dev/src/pages/root/libs/templates/get-info-template/get-info-template.template.js
  apps/whatislove-dev/src/scripts/libs/helpers/helpers.js
  package-lock.json
  packages/shared/src/index.js
  packages/shared/src/libs/enums/enums.js
  packages/shared/src/libs/enums/process-exit-code.enum.js
  packages/shared/src/libs/helpers/check-is-one-of/check-is-one-of.helper.js
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
  packages/shared/src/libs/helpers/get-random-number/get-random-number.helper.js
  packages/shared/src/libs/helpers/get-shuffled-items/get-shuffled-items.helper.js
  packages/shared/src/libs/helpers/helpers.js
  packages/shared/src/libs/helpers/init-debounce/init-debounce.helper.js
  packages/shared/src/libs/helpers/set-async-timeout/set-async-timeout.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): use lightningcss for css bundle wd-334
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/vite.config.js
  apps/whatislove-dev/package.json
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(careers-whatislove-dev): add repeat btn wd-334
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/libs/components/app/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/screen-initial.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/templates/get-info-template/get-info-template.template.js
  apps/careers-whatislove-dev/src/pages/root/root.js
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add to deploy process wd-334
  .github/workflows/cd.yml
  .ls-lint.yml
  .release-please-manifest.json
  apps/certifications-whatislove-dev/index.html
  readme.md
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

feat(careers-whatislove-dev): replace element decorator with function wd-334
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/src/libs/components/app/app.js
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/visually-hidden.js
  apps/careers-whatislove-dev/src/libs/enums/component-prefix.enum.js
  apps/careers-whatislove-dev/src/libs/enums/enums.js
  apps/careers-whatislove-dev/src/libs/helpers/define-custom-element/define-custom-element.helper.js
  apps/careers-whatislove-dev/src/libs/helpers/helpers.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/screen-initial.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/root.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add icon component wd-334
  apps/careers-whatislove-dev/src/libs/components/components.js
  apps/careers-whatislove-dev/src/libs/components/icon/icon.js
  apps/careers-whatislove-dev/src/libs/components/icon/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/templates/get-info-template/get-info-template.template.js
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): add netlify.toml wd-334
  apps/careers-whatislove-dev/netlify.toml
Due: make lint_editor lint_fs
