Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

feat(whatislove-dev): rewrite image generation wd-721
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add white book wd-726 (#740)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): use details-content for details content styling wd-564
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/styles/blocks/accordion.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(whatislove-dev): edit ci linter configs wd-721
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): rewrite image generation wd-721 (#741)
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): use details-content for details content styling wd-564 (#742)
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/styles/blocks/accordion.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(workspace): update ci linters configurations wd-304
  apps/careers-whatislove-dev/lint-staged.config.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/certifications-whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/eslint.config.js
  apps/whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/src/data/mentions.js
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  packages/shared/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): update ci linters configurations wd-304 (#743)
  apps/careers-whatislove-dev/lint-staged.config.js
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/screen-process.js
  apps/certifications-whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/eslint.config.js
  apps/whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/src/data/mentions.js
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  packages/shared/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): remove disabled valid types eslint rule wd-193
  eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): update jsdoc eslint plugin wd-193
  apps/whatislove-dev/src/scripts/libs/modules/storage/storage.package.js
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): update jsdoc eslnint plugin wd-193
  apps/whatislove-dev/src/scripts/libs/modules/storage/storage.package.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): remove disabled valid types eslint rule wd-193 (#744)
  eslint.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): add dangerjs lint wd-149
  .github/workflows/ci-pr.yml
  commitlint.config.js
  dangerfile.js
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore(workspace): update commitlint version wd-149
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

ci(workspace): update commitlint ci script wd-149
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

feat(workspace): remove dangerjs from knip config wd-149
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): add dangerjs lint wd-149 (#746)
  .github/workflows/ci-pr.yml
  commitlint.config.js
  dangerfile.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(workspace): update vite & remove useless plugins wd-358
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(workspace): update vite & remove useless plugins wd-358 (#748)
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/vite.config.js
  apps/certifications-whatislove-dev/package.json
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replace js code with css starting-style wd-670
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/navigation/navigation.js
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): replace js code with css starting-style wd-670 (#750)
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/navigation/navigation.js
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add view-transition wd-257
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/globals/transitions.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add view-transition wd-257 (#751)
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/globals/transitions.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): rewrite scroll shadow using animation-timeline wd-257
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/transforms/add-code-snippet-scroll-shadow/add-code-snippet-scroll-shadow.transform.js
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): rewrite scroll shadow using animation-timeline wd-492
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/transforms/add-code-snippet-scroll-shadow/add-code-snippet-scroll-shadow.transform.js
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): rewrite scroll shadow using animation-timeline wd-492 (#752)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/transforms/add-code-snippet-scroll-shadow/add-code-snippet-scroll-shadow.transform.js
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

build(workspace): uncomment preview url wd-710
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

ci(workspace): use native gh labeler action wd-722
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

build(workspace): uncomment preview url wd-710 (#753)
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add external website webmentions fetch wd-672
  apps/whatislove-dev/src/data/mentions.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add external website webmentions fetch wd-672 (#755)
  apps/whatislove-dev/src/data/mentions.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): use native gh labeler action wd-722 (#754)
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

fix(whatislove-dev): edit header layering on different screens wd-758
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit header layering on different screens wd-758 (#759)
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): use calmer careers animation wd-671
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): use calmer careers animation wd-671 (#761)
  apps/whatislove-dev/src/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): use oklch for colors wd-612
  apps/whatislove-dev/src/styles/blocks/accordion.css
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/input.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(workspace): forcing to use oklch for colors wd-612
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type
