Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint_editorconfig lint_fs, make lint_css, make lint_js

nvmrc: * actions steps
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

nvmrc: - media attrs
  source/index.html
Due: make lint_editorconfig lint_fs

development: * deploy action
  .github/workflows/deploy.yml
Due: make lint_editorconfig lint_fs

development: - cnames
  CNAME
Due: make lint_editorconfig lint_fs

development: * switch
  source/js/components/home/components/settings/components/switch/switch.js
Due: make lint_editorconfig lint_fs, make lint_js

development: * logo color
  source/css/blocks/header.css
  source/css/globals/theme.css
Due: make lint_editorconfig lint_fs, make lint_css

development: + new book
  db/database.json
Due: make lint_editorconfig lint_fs

T102-UselessFavicon: * favicons
  source/img/icons/apple-touch-icon.png
  source/img/icons/icon-192.png
  source/img/icons/icon-512.png
  source/index.html
  source/manifest.webmanifest
Due: make lint_editorconfig lint_fs

development: + whatislove math
  .eslintrc.yml
  source/js/main.js
  source/js/services/services.js
  source/js/services/timeline-api/timeline-api.service.js
  source/js/services/whatislove-math/whatislove-math.service.js
Due: make lint_editorconfig lint_fs, make lint_js

production: + new book
  db/database.json
Due: make lint_editorconfig lint_fs

production: * build trigger
  db/database.json
Due: make lint_editorconfig lint_fs

production: * cv
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editorconfig lint_fs

production: * works
  db/database.json
  source/css/blocks/timeline.css
  source/img/timeline-position.bg.svg
  source/index.html
  source/js/common/enums/timeline/timeline-type.enum.js
Due: make lint_editorconfig lint_fs, make lint_css, make lint_js

production: * jobs descriptions
  db/database.json
Due: make lint_editorconfig lint_fs

development: - flexes
  source/css/blocks/favorites.css
  source/css/blocks/footer.css
  source/css/blocks/header.css
  source/css/blocks/intro.css
  source/css/blocks/navigation.css
  source/css/blocks/settings.css
  source/css/blocks/social-list.css
  source/css/blocks/timeline.css
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

development: * cv
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editorconfig lint_fs

development: * easter egg
  source/css/blocks/not-easter-egg.css
  source/css/styles.css
  source/index.html
  source/js/components/home/components/easter-egg/easter-egg.js
Due: make lint_editorconfig lint_fs, make lint_css, make lint_js

production: * photo
  source/css/blocks/intro.css
  source/img/whatislove-zubko.photo.jpg
  source/img/whatislove-zubko.photo.png
  source/img/whatislove-zubko@2x.photo.jpg
  source/img/whatislove-zubko@2x.photo.png
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: * photo print styles
  source/css/blocks/intro.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * photo mobile styles
  source/css/blocks/intro.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * image bg
  source/css/blocks/intro.css
  source/img/whatislove-zubko.photo.png
  source/img/whatislove-zubko@2x.photo.png
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: + mask to intro bg
  source/css/blocks/intro.css
  source/img/intro-photo.mask.svg
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: * easter egg
  source/css/blocks/not-easter-egg.css
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

production: * make file
  .editorconfig
  makefile
Due: make lint_editorconfig lint_fs

production: * animation for settings
  source/css/blocks/settings.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * easter egg shani color
  source/css/blocks/not-easter-egg.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * easter egg shine time
  source/css/blocks/not-easter-egg.css
Due: make lint_editorconfig lint_fs, make lint_css

production: * resume
  source/files/vladyslav-zubko-cv.pdf
Due: make lint_editorconfig lint_fs

production: + will change on settings
  package-lock.json
  source/css/blocks/settings.css
Due: make lint_editorconfig lint_fs, make lint_css

production: + will change on intro
  source/css/blocks/intro.css
Due: make lint_editorconfig lint_fs, make lint_css

Path conditions:
  make lint_editorconfig lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js: any of: *.js
