Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add paw cursor to paw wd-581
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add paw cursor to paw wd-581 (#621)
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add light-dark function to code highlight wd-624
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add light-dark function to code highlight wd-624 (#625)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add css to tag list wd-623
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add bem modifiers article wd-623
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/images/scss-bem-modifiers.png
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add bem modifiers article wd-623 (#627)
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/images/scss-bem-modifiers.png
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/index.md
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add more example to bem modifiers article wd-628
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add more example to bem modifiers article wd-628 (#629)
  apps/whatislove-dev/src/articles/bem-modifiers-in-pure-css-nesting/index.md
Due: make lint_editor lint_fs

fix(whatislove-dev): edit comment wrap in mentions wd-631
  apps/whatislove-dev/src/styles/blocks/mentions.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev/careers-whatislove-dev): imporve animation performance wd-591
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): edit comment wrap in mentions wd-631 (#632)
  apps/whatislove-dev/src/styles/blocks/mentions.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev/careers-whatislove-dev): imporve animation performance wd-591 (#633)
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev/careers-whatislove-dev): remove animation performance properties wd-635
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/images/noise.png
  apps/whatislove-dev/src/images/noise.svg
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev/careers-whatislove-dev): remove animation performance properties wd-635 (#636)
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-initial/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/images/noise.png
  apps/whatislove-dev/src/images/noise.svg
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix easter egg rerender wd-639
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix easter egg rerender wd-639 (#640)
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): remove dynamic height from timeline wd-638
  apps/whatislove-dev/src/styles/blocks/experience.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove dynamic height from timeline wd-638 (#642)
  apps/whatislove-dev/src/styles/blocks/experience.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit tags height wd-644
  apps/whatislove-dev/src/styles/blocks/tag-list.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit tags height wd-644 (#645)
  apps/whatislove-dev/src/styles/blocks/tag-list.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

chore(whatislove-dev): add host to dev server wd-646
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore(whatislove-dev): add host to dev server wd-646 (#647)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/packages.d.ts
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev/careers-whatislove-dev): update ts/sonar/lit/wb eslint plugins wd-270
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  apps/careers-whatislove-dev/src/libs/modules/database/database.module.js
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/scripts/libs/helpers/get-server-api-url/get-server-api-url.helper.js
  apps/whatislove-dev/src/scripts/libs/modules/http/http.package.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/generate-toc-markup/generate-toc-markup.helper.js
  eslint.config.js
  package-lock.json
  package.json
  packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): add color scheme light to css wd-649
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(whatislove-dev/careers-whatislove-dev): update ts/sonar/lit/wb eslint plugins wd-270 (#648)
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  apps/careers-whatislove-dev/src/libs/modules/database/database.module.js
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/scripts/libs/helpers/get-server-api-url/get-server-api-url.helper.js
  apps/whatislove-dev/src/scripts/libs/modules/http/http.package.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/generate-toc-markup/generate-toc-markup.helper.js
  eslint.config.js
  package-lock.json
  package.json
  packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): add color scheme light to css wd-649 (#650)
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

style(careers-whatislove-dev): edit lit eslint plugin style in config wd-270
  apps/careers-whatislove-dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add search html element to index page wd-270
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/src/pages/index/index.njk
Due: make lint_editor lint_fs

style(careers-whatislove-dev): edit lit eslint plugin style in config wd-275
  apps/careers-whatislove-dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add search html element to index page wd-275
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/src/pages/index/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add search html element to index page wd-275 (#653)
  apps/careers-whatislove-dev/eslint.config.js
  apps/whatislove-dev/.w3c-validator
  apps/whatislove-dev/src/pages/index/index.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add what successful people do at work book wd-656
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(careers-whatislove-dev): add preload for process media wd-655
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

ci(certifications-whatislove-dev): add typed css package wd-314
  .gitignore
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/src/pages/certificate/certificate.jsx
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci(certifications-whatislove-dev): add typed css package wd-314 (#657)
  .gitignore
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/src/pages/certificate/certificate.jsx
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(careers-whatislove-dev): add preload for process media wd-655 (#659)
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

feat(whatislove-dev): add what successful people do at work book wd-656 (#658)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

fix(careers-whatislove-dev): replace prefetch with preload on process media wd-662
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

fix(careers-whatislove-dev): replace prefetch with preload on process media wd-662 (#663)
  apps/careers-whatislove-dev/index.html
Due: make lint_editor lint_fs

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
