Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(root): make scope required in commitlint wd-406
  commitlint.config.js
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): make scope required in commitlint wd-406 (#408)
  commitlint.config.js
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix timeline viewport loading wd-409
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix timeline viewport loading wd-409 (#410)
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/timeline.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix cross browser styles wd-412
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix cross browser styles wd-412 (#413)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add scroll shadow for scroll blocks
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add scroll shadow for scroll blocks (#416)
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/globals/variables.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove useless aria attrs wd-415
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/icon.njk
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): remove useless aria attrs wd-418
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/icon.njk
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): remove useless aria attrs wd-418 (#419)
  apps/whatislove-dev/src/includes/aside.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/icon.njk
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/pages/index.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): remove media print from all places wd-414
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): remove media print from all places wd-414 (#425)
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(root): fix paths in lintstaged wd-420
  apps/careers-whatislove-dev/lint-staged.config.js
  apps/certifications-whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/lint-staged.config.js
  package.json
  packages/shared/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): fix paths in lintstaged wd-420 (#427)
  apps/careers-whatislove-dev/lint-staged.config.js
  apps/certifications-whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/lint-staged.config.js
  package.json
  packages/shared/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): add release scope to ci wd-428
  commitlint.config.js
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): add release scope to ci wd-428 (#429)
  commitlint.config.js
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add reduce motion to all animations wd-423
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add reduce motion to all animations wd-423 (#430)
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add animation to paw wd-432
  apps/whatislove-dev/src/scripts/libs/enums/notification-message.enum.js
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add animation to paw wd-432 (#433)
  apps/whatislove-dev/src/scripts/libs/enums/notification-message.enum.js
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add report issue link to footer wd-435
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/footer.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add report issue link to footer wd-435 (#436)
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/pages/not-found.njk
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/footer.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add animation for timeline render wd-438
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add animation for timeline render wd-438 (#439)
  apps/whatislove-dev/src/styles/blocks/timeline.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(root): update nodejs to lts wd-342
  .nvmrc
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci(root): update nodejs to lts wd-342 (#441)
  .nvmrc
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add font preload wd-442
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add font preload wd-442 (#443)
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): replace og imaga with new design wd-445
  apps/whatislove-dev/src/images/covers/index.png
  apps/whatislove-dev/src/images/logo-social.og.png
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): replace og imaga with new design wd-445 (#446)
  apps/whatislove-dev/src/images/covers/index.png
  apps/whatislove-dev/src/images/logo-social.og.png
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): edit cover image path wd-448
  apps/whatislove-dev/src/images/cover.png
  apps/whatislove-dev/src/images/covers/index.png
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): edit cover image path wd-448 (#449)
  apps/whatislove-dev/src/images/cover.png
  apps/whatislove-dev/src/images/covers/index.png
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): replave favicon with new design wd-448
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/favicon.ico
  apps/whatislove-dev/src/images/favicons/180.png
  apps/whatislove-dev/src/images/favicons/192.png
  apps/whatislove-dev/src/images/favicons/512.png
  apps/whatislove-dev/src/images/favicons/any.svg
  apps/whatislove-dev/src/images/favicons/favicon.ico
  apps/whatislove-dev/src/images/icons/icon.svg
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/manifest.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replave favicon with new design wd-451
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/favicon.ico
  apps/whatislove-dev/src/images/favicons/180.png
  apps/whatislove-dev/src/images/favicons/192.png
  apps/whatislove-dev/src/images/favicons/512.png
  apps/whatislove-dev/src/images/favicons/any.svg
  apps/whatislove-dev/src/images/favicons/favicon.ico
  apps/whatislove-dev/src/images/icons/icon.svg
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/manifest.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replave favicon with new design wd-451 (#452)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/favicon.ico
  apps/whatislove-dev/src/images/favicons/180.png
  apps/whatislove-dev/src/images/favicons/192.png
  apps/whatislove-dev/src/images/favicons/512.png
  apps/whatislove-dev/src/images/favicons/any.svg
  apps/whatislove-dev/src/images/favicons/favicon.ico
  apps/whatislove-dev/src/images/icons/icon.svg
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/manifest.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): fix paw circled text to match the design wd-454
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): fix paw circled text to match the design wd-454 (#455)
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): fix paw position to match the design wd-457
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): fix paw position to match the design wd-457 (#458)
  apps/whatislove-dev/src/pages/index.njk
  apps/whatislove-dev/src/styles/blocks/intro.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
