Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

ci: edit ci steps wd-144
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit ci steps wd-144
  .github/workflows/ci.yml
  source/scripts/index.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: edit ci steps wd-144
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit ci steps wd-144
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

wd-144: edit ci steps (#231)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit step name style wd-144
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit makefile structure wd-162
  Makefile
Due: make lint_editor lint_fs

ci: edit lint commint lint action wd-162
  .github/workflows/ci-pr.yml
Due: prettier --write, make lint_editor lint_fs

ci: edit commint lint config wd-162
  commitlint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add release functionality wd-162
  .github/workflows/cd.yml
  .release-please-manifest.json
  package-lock.json
  package.json
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

ci: edit java version in ci action wd-162
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

feat: add release package wd-162 (#232)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .release-please-manifest.json
  Makefile
  commitlint.config.js
  package-lock.json
  package.json
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: replace html validator package wd-233
  .github/workflows/ci.yml
  .linthtmlrc.cjs
  Makefile
  package-lock.json
  package.json
  source/pages/form.njk
Due: prettier --write, make lint_editor lint_fs

ci: replace html validator package wd-233 (#234)
  .github/workflows/ci.yml
  .linthtmlrc.cjs
  Makefile
  package-lock.json
  package.json
  source/pages/form.njk
Due: prettier --write, make lint_editor lint_fs

fix: add release project prefix wd-237
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix: add release prefix wd-237 (#238)
  CHANGELOG.md
  project.config.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: replace all branches with main wd-239
  .github/pr-branch-labeler.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  project.config.js
  source/data/global.cjs
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: edit prettier lint wd-239
  .prettierignore
Due: make lint_editor lint_fs

feat: replace all branches with main wd-239 (#241)
  .github/pr-branch-labeler.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .prettierignore
  project.config.js
  source/data/global.cjs
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: edit changelog file style wd-243
  CHANGELOG.md
Due: make lint_editor lint_fs

ci: edit release config wd-243
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

build: add main branch to cd action wd-243
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

build: edit deploy trigger wd-243
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat: add main branch to cd action wd-243 (#244)
  .github/workflows/cd.yml
  CHANGELOG.md
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs

feat: deploy only after release approach wd-246
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat: deploy only after release approach wd-246 (#249)
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

Create CNAME
  CNAME
Due: make lint_editor lint_fs

fix: remove cname file wd-251
  CNAME
Due: make lint_editor lint_fs

style: edit makefile spaces wd-251
  Makefile
Due: make lint_editor lint_fs

style: make types more explicit wd-251
  source/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix: remove cname wd-251 (#252)
  CNAME
  Makefile
  source/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix: edit timeline filter wraps wd-254
  source/styles/blocks/exp-filter.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix: edit timeline filter wraps wd-254 (#255)
  source/styles/blocks/exp-filter.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci: update eslint to support esm wd-208
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type
