Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

fix(whatislove-dev): fix latest article render wd-510 (#511)
  apps/whatislove-dev/src/includes/article-list.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add sticker to background wd-515
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
  apps/whatislove-dev/src/data/stickers.js
  apps/whatislove-dev/src/includes/sticker-list.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/sticker-list.css
  apps/whatislove-dev/src/styles/blocks/stickers-background.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add more stickers wd-515
  apps/whatislove-dev/src/data/stickers.js
  apps/whatislove-dev/src/images/stickers.svg
  apps/whatislove-dev/src/styles/blocks/sticker-list.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

refactor(whatislove-dev): remove commented code wd-515
  apps/whatislove-dev/src/pages/index/index.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add sticker to background wd-515 (#517)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/how-we-started-managing-bsa-delivery-processes-on-github/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/the-product-owner-comes-and-says-we-need-to-rewrite-everything-from-node-to-deno/index.md
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
  apps/whatislove-dev/src/articles/typescript-might-not-be-your-god-case-study-of-migration-from-ts-to-jsdoc/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
  apps/whatislove-dev/src/data/stickers.js
  apps/whatislove-dev/src/images/stickers.svg
  apps/whatislove-dev/src/includes/sticker-list.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/articles/index.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/main.css
  apps/whatislove-dev/src/styles/blocks/sticker-list.css
  apps/whatislove-dev/src/styles/blocks/stickers-background.css
  apps/whatislove-dev/src/styles/blocks/stickers.css
  apps/whatislove-dev/src/styles/index.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add compress image plugin wd-514
  .nvmrc
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/images/telegram-avatar.jpg
  apps/whatislove-dev/src/images/telegram-avatar.photo.jpg
  apps/whatislove-dev/src/images/vladyslav-zubko.photo.png
  apps/whatislove-dev/src/images/vladyslav-zubko.png
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/stickers-background.css
  package-lock.json
  package.json
  packages/shared/src/libs/helpers/get-shuffled-items/get-shuffled-items.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add formats for articles images wd-514
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/block-or-inline/images/can-i-include.jpg
  apps/whatislove-dev/src/articles/block-or-inline/images/can-i-include.png
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): change wrapper for images on article page wd-514
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): add sizes attr to html-linter exclude wd-514
  apps/whatislove-dev/package.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add compress & formats image plugin wd-514 (#520)
  .nvmrc
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/articles/block-or-inline/images/can-i-include.jpg
  apps/whatislove-dev/src/articles/block-or-inline/images/can-i-include.png
  apps/whatislove-dev/src/articles/block-or-inline/index.md
  apps/whatislove-dev/src/images/telegram-avatar.jpg
  apps/whatislove-dev/src/images/telegram-avatar.photo.jpg
  apps/whatislove-dev/src/images/vladyslav-zubko.photo.png
  apps/whatislove-dev/src/images/vladyslav-zubko.png
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/stickers-background.css
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  apps/whatislove-dev/src/transforms/transforms.js
  package-lock.json
  package.json
  packages/shared/src/libs/helpers/get-shuffled-items/get-shuffled-items.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add losing my virginity book wd-491
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add losing my virginity book wd-491 (#523)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add rich dad poor dad book wd-519
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add rich dad poor dad book wd-519 (#525)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): enable webmention wd-512
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/layouts/page.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): enable webmention wd-512 (#527)
  apps/whatislove-dev/src/data/global.js
  apps/whatislove-dev/src/layouts/page.njk
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add rss alternate wd-528
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add rss alternate wd-528 (#530)
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add button block wd-512
  apps/whatislove-dev/src/includes/pagination-list.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/articles.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add input block wd-512
  apps/whatislove-dev/src/styles/blocks/input.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add mentions markup wd-512
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/images/stickers.svg
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/index.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add webmentions to articles wd-512
  .gitignore
  apps/whatislove-dev/.env.example
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/styles/blocks/mentions.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

build(whatislove-dev): add cron rebuild functionality wd-512
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

build(whatislove-dev): add api keys to cd action wd-512
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

ci(whatislove-dev): add secrets to ci action wd-512
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add webmentions to articles wd-512 (#533)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  apps/whatislove-dev/.env.example
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/environment.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/images/icons.svg
  apps/whatislove-dev/src/images/stickers.svg
  apps/whatislove-dev/src/includes/pagination-list.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/pages/404/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/articles.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/input.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/index.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(whatislove-dev): uncomment linthtml wd-365
  apps/whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(whatislove-dev): uncomment linthtml wd-365 (#537)
  apps/whatislove-dev/lint-staged.config.js
  apps/whatislove-dev/linthtml.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/includes/accordion.njk
  apps/whatislove-dev/src/includes/channel.njk
  apps/whatislove-dev/src/includes/footer.njk
  apps/whatislove-dev/src/includes/header.njk
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/includes/shapes.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/pages/form/index.njk
  apps/whatislove-dev/src/pages/index/index.njk
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/transforms/replace-img-wrapper/replace-img-wrapper.transform.js
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add woff font wd-535
  apps/whatislove-dev/src/fonts/red-hat-display-400.woff
  apps/whatislove-dev/src/fonts/red-hat-display-700.woff
  apps/whatislove-dev/src/styles/globals/fonts.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): move covers to another folder wd-535
  apps/whatislove-dev/src/images/covers/index.png
Due: make lint_editor lint_fs

feat(whatislove-dev): add autogeneration for og image wd-535
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/layouts/page.njk
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add autogeneration for og image wd-535 (#538)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/packages.d.ts
  apps/whatislove-dev/src/fonts/red-hat-display-400.woff
  apps/whatislove-dev/src/fonts/red-hat-display-700.woff
  apps/whatislove-dev/src/images/covers/index.png
  apps/whatislove-dev/src/includes/og-article-image.njk
  apps/whatislove-dev/src/layouts/article.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/styles/globals/fonts.css
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(whatislove-dev): add sitemap to robot.txt wd-542
  .prettierignore
  apps/whatislove-dev/src/robots.njk
  apps/whatislove-dev/src/robots.txt
Due: make lint_editor lint_fs

feat(whatislove-dev): add sitemap to robot.txt wd-542 (#543)
  .prettierignore
  apps/whatislove-dev/src/robots.njk
  apps/whatislove-dev/src/robots.txt
Due: make lint_editor lint_fs

fix(whatislove-dev): use iso date in timeline wd-545
  apps/whatislove-dev/src/scripts/libs/helpers/get-string-with-check/get-string-with-check.helper.js
  apps/whatislove-dev/src/scripts/libs/helpers/helpers.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): use iso date in timeline wd-545 (#546)
  apps/whatislove-dev/src/scripts/libs/helpers/get-string-with-check/get-string-with-check.helper.js
  apps/whatislove-dev/src/scripts/libs/helpers/helpers.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): remove build linters from git hooks wd-547
  apps/whatislove-dev/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(root): remove build linters from git hooks wd-547 (#549)
  apps/whatislove-dev/lint-staged.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

docs(whatislove-dev): add license for content wd-550
  LICENSE-content
  readme.md
Due: make lint_editor lint_fs

docs(whatislove-dev): add license for content wd-550 (#551)
  LICENSE-content
  readme.md
Due: make lint_editor lint_fs
