Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci: update eslint to support esm wd-208 (#262)
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix: update svgo & remove favicon iseless classes wd-247
  package-lock.json
  package.json
  source/images/icons/icon.svg
Due: prettier --write, make lint_editor lint_fs

fix: update svgo & remove favicon iseless classes wd-247 (#263)
  package-lock.json
  package.json
  source/images/icons/icon.svg
Due: prettier --write, make lint_editor lint_fs

style: replace d.ts files with typedef jsdoc wd-258
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/types/toast-message-payload.type.d.ts
  source/scripts/libs/types/toast-message-payload.type.js
  source/scripts/libs/types/types.d.ts
  source/scripts/libs/types/types.js
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.js
  source/scripts/packages/timeline/libs/types/timeline-filter.d.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline-filter.type.js
  source/scripts/packages/timeline/libs/types/timeline.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline.type.js
  source/scripts/packages/timeline/libs/types/types.d.ts
  source/scripts/packages/timeline/libs/types/types.js
  source/scripts/packages/timeline/timeline-api.js
  source/scripts/packages/timeline/timeline.js
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/scripts/pages/main/libs/components/timeline/timeline.js
  source/scripts/pages/main/libs/types/settings-button-payload.type.d.ts
  source/scripts/pages/main/libs/types/settings-button-payload.type.js
  source/scripts/pages/main/libs/types/types.d.ts
  source/scripts/pages/main/libs/types/types.js
  source/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: replace d.ts files with typedef jsdoc wd-258 (#266)
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/types/toast-message-payload.type.d.ts
  source/scripts/libs/types/toast-message-payload.type.js
  source/scripts/libs/types/types.d.ts
  source/scripts/libs/types/types.js
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.js
  source/scripts/packages/timeline/libs/types/timeline-filter.d.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline-filter.type.js
  source/scripts/packages/timeline/libs/types/timeline.type.d.ts
  source/scripts/packages/timeline/libs/types/timeline.type.js
  source/scripts/packages/timeline/libs/types/types.d.ts
  source/scripts/packages/timeline/libs/types/types.js
  source/scripts/packages/timeline/timeline-api.js
  source/scripts/packages/timeline/timeline.js
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/scripts/pages/main/libs/components/timeline/timeline.js
  source/scripts/pages/main/libs/types/settings-button-payload.type.d.ts
  source/scripts/pages/main/libs/types/settings-button-payload.type.js
  source/scripts/pages/main/libs/types/types.d.ts
  source/scripts/pages/main/libs/types/types.js
  source/scripts/pages/main/main.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add typescript eslint plugin wd-268
  .linthtmlrc.cjs
  Makefile
  commitlint.config.js
  eleventy.config.cjs
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/packages/http/http.package.js
  source/scripts/libs/packages/storage/storage.package.js
  source/scripts/libs/packages/whatislove-math/whatislove-math.package.js
  source/scripts/packages.d.ts
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/navigation/navigation.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  stylelint.config.js
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add typescript eslint plugin wd-268 (#269)
  .linthtmlrc.cjs
  Makefile
  commitlint.config.js
  eleventy.config.cjs
  eslint.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  prettier.config.js
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/packages/http/http.package.js
  source/scripts/libs/packages/storage/storage.package.js
  source/scripts/libs/packages/whatislove-math/whatislove-math.package.js
  source/scripts/packages.d.ts
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/navigation/navigation.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  stylelint.config.js
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: add Procrastination: Why You Do It book wd-267
  source/database.json
Due: prettier --write, make lint_editor lint_fs

feat: add Procrastination: Why You Do It book wd-267 (#271)
  source/database.json
Due: prettier --write, make lint_editor lint_fs

style: remove useless pipes from actions wd-260
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

style: remove useless pipes from actions wd-260 (#273)
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
Due: prettier --write, make lint_editor lint_fs

style: add prefixes to project scripts wd-259
  .github/workflows/ci.yml
  Makefile
  lint-staged.config.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: add prefixes to project scripts wd-259
  Makefile
Due: make lint_editor lint_fs

style: add prefixes to project scripts wd-259 (#274)
  .github/workflows/ci.yml
  Makefile
  lint-staged.config.js
  readme.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add knip linter wd-261
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Makefile
  eslint.config.js
  knip.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  readme.md
  source/scripts/libs/helpers/add-select-options/add-select-options.helper.js
  source/scripts/libs/helpers/create-select-options/create-select-options.helper.js
  source/scripts/libs/helpers/fill-select-options/fill-select-options.helper.js
  source/scripts/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/helpers.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add knip linter wd-261 (#276)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Makefile
  eslint.config.js
  knip.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  readme.md
  source/scripts/libs/helpers/add-select-options/add-select-options.helper.js
  source/scripts/libs/helpers/create-select-options/create-select-options.helper.js
  source/scripts/libs/helpers/fill-select-options/fill-select-options.helper.js
  source/scripts/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/helpers.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/helpers.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: replace cjs with js in 11ty wd-182
  eleventy.config.js
  eslint.config.js
  knip.config.js
  package-lock.json
  package.json
  source/data/global.js
  source/scripts/packages.d.ts
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: prefer let type declaration wd-265
  .linthtmlrc.cjs
  commitlint.config.js
  eleventy.config.cjs
  eslint.config.js
  knip.config.js
  lint-staged.config.js
  prettier.config.js
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
  source/scripts/libs/packages/http/http.package.js
  source/scripts/libs/packages/http/libs/exceptions/http-error/http-error.exception.js
  source/scripts/libs/packages/whatislove-math/whatislove-math.package.js
  source/scripts/libs/types/toast-message-payload.type.js
  source/scripts/libs/types/types.js
  source/scripts/libs/types/values-of.type.js
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.js
  source/scripts/packages/timeline/libs/types/timeline-filter.type.js
  source/scripts/packages/timeline/libs/types/timeline.type.js
  source/scripts/packages/timeline/libs/types/types.js
  source/scripts/packages/timeline/timeline-api.js
  source/scripts/packages/timeline/timeline.js
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/main/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/main/libs/components/settings/libs/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/scripts/pages/main/libs/components/timeline/timeline.js
  source/scripts/pages/main/libs/types/settings-button-payload.type.js
  source/scripts/pages/main/libs/types/types.js
  source/scripts/pages/main/main.js
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: prefer let type declaration wd-265 (#283)
  .linthtmlrc.cjs
  commitlint.config.js
  eleventy.config.cjs
  eslint.config.js
  knip.config.js
  lint-staged.config.js
  prettier.config.js
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
  source/scripts/libs/packages/http/http.package.js
  source/scripts/libs/packages/http/libs/exceptions/http-error/http-error.exception.js
  source/scripts/libs/packages/whatislove-math/whatislove-math.package.js
  source/scripts/libs/types/toast-message-payload.type.js
  source/scripts/libs/types/types.js
  source/scripts/libs/types/values-of.type.js
  source/scripts/packages/timeline/libs/types/timeline-create-payload.type.js
  source/scripts/packages/timeline/libs/types/timeline-filter.type.js
  source/scripts/packages/timeline/libs/types/timeline.type.js
  source/scripts/packages/timeline/libs/types/types.js
  source/scripts/packages/timeline/timeline-api.js
  source/scripts/packages/timeline/timeline.js
  source/scripts/pages/main/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/main/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/main/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/main/libs/components/settings/libs/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/scripts/pages/main/libs/components/settings/settings.js
  source/scripts/pages/main/libs/components/timeline-form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/pages/main/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/scripts/pages/main/libs/components/timeline/libs/helpers/get-suit-timelines/get-suit-timelines.helper.js
  source/scripts/pages/main/libs/components/timeline/timeline.js
  source/scripts/pages/main/libs/types/settings-button-payload.type.js
  source/scripts/pages/main/libs/types/types.js
  source/scripts/pages/main/main.js
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat: add Born to Run book wd-282
  source/database.json
Due: prettier --write, make lint_editor lint_fs

feat: add Born to Run book wd-282 (#284)
  source/database.json
Due: prettier --write, make lint_editor lint_fs

ci: update knip to support 11ty and linthtml wd-282
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: update knip to support 11ty and linthtml wd-282 (#286)
  knip.config.js
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: update node.js to 20v wd-287
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

chore: update node.js to 20v wd-287 (#288)
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs

feat: replace cjs with js in 11ty wd-182 (#279)
  eleventy.config.js
  eslint.config.js
  knip.config.js
  package-lock.json
  package.json
  source/data/global.js
  source/scripts/packages.d.ts
  tsconfig.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: add types to js eslint config wd-270
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs

ci: add types to js eslint config wd-270 (#295)
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs

feat: replace -webkit-text-fill-color with color property wd-294
  source/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat: replace -webkit-text-fill-color with color property wd-294 (#296)
  source/styles/blocks/header.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci: add types to jsdoc eslint config wd-270
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs

ci: add types to jsdoc eslint config wd-270 (#298)
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs

chore: add types package for 11ty image package wd-280
  eleventy.config.js
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: add types package for 11ty image package wd-280 (#299)
  eleventy.config.js
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: remove simple-import-sort eslint plugin wd-300
  eleventy.config.js
  eslint.config.js
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

style: edit order of plugins in eslint config wd-300
  eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci: remove simple-import-sort eslint plugin wd-300 (#301)
  eleventy.config.js
  eslint.config.js
  package-lock.json
  package.json
  source/scripts/packages.d.ts
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: rename source to src wd-291
  packages/whatislove.dev/eleventy.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore: move eslint to root level wd-291
  eslint.config.js
  packages/whatislove.dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
