Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

fix(whatislove-dev): edit canonical on all pages wd-586
  apps/whatislove-dev/src/layouts/page.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): add fieldset element to theme switcher wd-586
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): add fieldset element to theme switcher wd-586 (#592)
  apps/whatislove-dev/src/includes/settings.njk
  apps/whatislove-dev/src/layouts/page.njk
  apps/whatislove-dev/src/styles/blocks/settings.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(whatislove-dev): remove linthtml from knip config wd-348
  knip.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(whatislove-dev): remove linthtml from knip config wd-348 (#594)
  knip.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add native enums to js namings article wd-595
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about lit 3.0 to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about babel 7.23.0 to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): edit default opened logic for articles changelog wd-595
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about mobx 6.11 to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about deno 1.40 to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about function decorators to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about esbuild 0.21.* to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about parameter decorators to decorators article wd-595
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): update articles with latest notes wd-595 (#597)
  apps/whatislove-dev/src/articles/ecmascript-decorators-the-ones-that-are-real/index.md
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/articles/js-and-everyday-data-structures/index.md
  apps/whatislove-dev/src/layouts/article.njk
Due: make lint_editor lint_fs

fix(whatislove-dev): edit gap in dates on article page wd-599
  apps/whatislove-dev/src/styles/blocks/article.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): edit gap in dates on article page wd-599 (#600)
  apps/whatislove-dev/src/styles/blocks/article.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add make your bed book wd-532
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add make your bed book wd-532 (#602)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add what successful people do before breakfast book wd-540
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add what successful people do before breakfast book wd-540 (#604)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add what successful people do on weekend book wd-596
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add what successful people do on weekend book wd-596 (#605)
  apps/whatislove-dev/src/database.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): replace toast show modifier with pseudo class wd-490
  apps/whatislove-dev/src/scripts/libs/components/toast/libs/constants/constants.js
  apps/whatislove-dev/src/scripts/libs/components/toast/toast.js
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(careers-whatislove-dev): add eslint plugin lit a11y wd-367
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): replace toast show modifier with pseudo class wd-490 (#606)
  apps/whatislove-dev/src/scripts/libs/components/toast/libs/constants/constants.js
  apps/whatislove-dev/src/scripts/libs/components/toast/toast.js
  apps/whatislove-dev/src/styles/blocks/toast.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(careers-whatislove-dev): add eslint plugin lit a11y wd-367 (#607)
  apps/careers-whatislove-dev/eslint.config.js
  apps/careers-whatislove-dev/package.json
  apps/careers-whatislove-dev/packages.d.ts
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): edit og image generation style wd-577
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): edit og image generation style wd-577 (#609)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): use light-dark for light/dark theme wd-165
  apps/whatislove-dev/src/styles/globals/variables.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): use light-dark for light/dark theme wd-165 (#610)
  apps/whatislove-dev/src/styles/globals/variables.css
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev/certifications-whatislove-dev): reuse getformatteddate helper wd-165
  apps/certifications-whatislove-dev/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
  apps/certifications-whatislove-dev/src/libs/helpers/helpers.js
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/initial-certificate/initial-certificate.jsx
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev/certifications-whatislove-dev): reuse getformatteddate helper wd-362
  apps/certifications-whatislove-dev/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
  apps/certifications-whatislove-dev/src/libs/helpers/helpers.js
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/initial-certificate/initial-certificate.jsx
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): remove njk parser from md files wd-614
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev/certifications-whatislove-dev): reuse getformatteddate helper wd-362 (#615)
  apps/certifications-whatislove-dev/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
  apps/certifications-whatislove-dev/src/libs/helpers/helpers.js
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/initial-certificate/initial-certificate.jsx
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/scripts/pages/main/libs/components/timeline/libs/components/timeline-list/libs/helpers/get-timeline-template/get-timeline-template.helper.js
  packages/shared/src/libs/helpers/get-formatted-date/get-formatted-date.helper.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): remove njk parser from md files wd-614 (#616)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/articles/lint-your-project-with-github-actions/index.md
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(careers-whatislove-dev): update react-pdf to latest version wd-613
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/bsa-2022/bsa-2022.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/decorators/decorators.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/nodejs-2022/nodejs-2022.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/webcomponents-2022/webcomponents-2022.jsx
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

fix(careers-whatislove-dev): add overrides to root package.json wd-613
  package.json
Due: prettier --write, make lint_editor lint_fs

fix(careers-whatislove-dev): pdf render wd-613 (#618)
  apps/certifications-whatislove-dev/package.json
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/bsa-2022/bsa-2022.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/decorators/decorators.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/nodejs-2022/nodejs-2022.jsx
  apps/certifications-whatislove-dev/src/pages/certificate/libs/components/webcomponents-2022/webcomponents-2022.jsx
  package-lock.json
  package.json
Due: prettier --write, make lint_editor lint_fs
