Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint_editorconfig lint_fs, make lint_css, make lint_js

task/T70-ActionNotification: * notification message
  .github/workflows/notify.yml
Due: make lint_editorconfig lint_fs

development: * form-payload version
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

development: * eslint config
  .eslintrc.yml
Due: make lint_editorconfig lint_fs

development: * prettier config
  .prettierrc.yml
Due: make lint_editorconfig lint_fs

development: * from payload version
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

development: * action names
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/notify.yml
Due: make lint_editorconfig lint_fs

development: * map keys
  source/js/common/maps/boolean/number-to-boolean.map.js
  source/js/common/maps/number/boolean-to-number.map.js
Due: make lint_editorconfig lint_fs, make lint_js

T79-FlexGap: + favorites item gap
  source/css/blocks/favorites.css
Due: make lint_editorconfig lint_fs, make lint_css

development: * code style
  .eslintrc.yml
  .prettierrc.yml
  source/css/scaffolding.css
Due: make lint_editorconfig lint_fs, make lint_css

T82-GHPages: * deploy action
  .github/workflows/deploy.yml
Due: make lint_editorconfig lint_fs

development: + CNAME file
  CNAME
Due: make lint_editorconfig lint_fs

T85-CIAction: + ci action
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

T88-UpdatePages: * update packages
  package-lock.json
  package.json
  source/js/pages/form/helpers/helpers.js
  source/js/pages/index/components/settings/components/components.js
  source/js/pages/index/components/timeline/components/components.js
  source/js/pages/pages.js
Due: make lint_editorconfig lint_fs, make lint_js

T91-RemoveAirbnb: - config
  .eslintrc.yml
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

T90-AddPrettier: + prettier
  .lintstagedrc.yml
  package-lock.json
  package.json
  source/js/components/home/components/navigation/navigation.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/js/components/home/components/timeline/components/timeline-list/timeline-list.js
  source/js/components/home/components/timeline/helpers/check-is-timeline-suit/check-is-timeline-suit.helper.js
  source/js/components/home/home.js
  source/js/exceptions/http-error/http-error.exception.js
  source/js/helpers/number/get-random-number/get-random-number.helper.js
Due: make lint_editorconfig lint_fs, make lint_js

development: - deploy script
  Makefile
Due: make lint_editorconfig lint_fs

development: + rainbow name
  source/css/animations.css
  source/css/blocks/header.css
Due: make lint_editorconfig lint_fs, make lint_css

T94-UpdateNodeVersion: * update node version
  .npmrc
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

T97-UpdatePackages: * update packages
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

T97-UpdatePackages: * node version in ci
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

T97-UpdatePackages: * npm install in node
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

T97-Bem: * bem blocks
  source/css/blocks/intro.css
  source/css/blocks/page.css
  source/css/blocks/visually-hidden.css
  source/css/globals/animations.css
  source/css/globals/box-sizing.css
  source/css/globals/focus-visible.css
  source/css/globals/fonts.css
  source/css/globals/motion.css
  source/css/globals/scrollbar.css
  source/css/globals/theme.css
  source/css/globals/variables.css
  source/css/scaffolding.css
  source/css/styles.css
  source/form.html
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

T87-bg-filter: * bg filters icons
  gulp/config.js
  gulp/tasks/sprite/sprite.task.js
  gulp/tasks/tasks.js
  gulpfile.js
  package-lock.json
  package.json
  source/css/blocks/easter-egg.css
  source/css/blocks/favorites.css
  source/css/blocks/footer.css
  source/css/blocks/header.css
  source/css/blocks/settings.css
  source/css/blocks/social-list.css
  source/css/blocks/timeline.css
  source/css/globals/variables.css
  source/img/animation-allow.bg.svg
  source/img/animation-notallow.bg.svg
  source/img/download.bg.svg
  source/img/routine-rose.bg.svg
  source/img/routine.bg.svg
  source/img/routine.icon.svg
  source/img/social-github.bg.svg
  source/img/social-linkedin.bg.svg
  source/img/social-telegram.bg.svg
  source/img/stars-black.bg.svg
  source/img/stars.bg.svg
  source/img/timeline-book.bg.svg
  source/img/timeline-course.bg.svg
  source/img/timeline-meetup.bg.svg
  source/img/timeline-work.bg.svg
  source/index.html
  source/js/components/home/components/timeline/components/timeline-list/common/constants.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/get-icon-path/get-icon-path.helper.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/get-replaced-icon-path/get-replaced-icon-path.helper.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/js/components/home/components/timeline/components/timeline-list/helpers/helpers.js
  source/js/components/home/components/timeline/components/timeline-list/timeline-list.js
Due: make lint_editorconfig lint_fs, make lint_css, make lint_js

T85-SmartSwitcher: * smart swircher component
  gulp/tasks/api/api.task.js
  source/css/blocks/settings.css
  source/img/animation-allow.bg.svg
  source/img/animation-notallow.bg.svg
  source/img/auto.bg.svg
  source/img/notion-no-preference.bg.svg
  source/img/notion-reduce.bg.svg
  source/img/theme-dark.bg.svg
  source/img/theme-light.bg.svg
  source/index.html
  source/js/common/maps/boolean/boolean.js
  source/js/common/maps/boolean/number-to-boolean.map.js
  source/js/common/maps/maps.js
  source/js/components/home/components/settings/common/enums/enums.js
  source/js/components/home/components/settings/common/enums/media-queries-type.enum.js
  source/js/components/home/components/settings/common/maps/maps.js
  source/js/components/home/components/settings/common/maps/setting-name-to-check-types.map.js
  source/js/components/home/components/settings/components/components.js
  source/js/components/home/components/settings/components/control/control.js
  source/js/components/home/components/settings/components/switch/common/constants.js
  source/js/components/home/components/settings/components/switch/helpers/check-is-checked/check-is-checked.helper.js
  source/js/components/home/components/settings/components/switch/helpers/helpers.js
  source/js/components/home/components/settings/components/switch/switch.js
  source/js/components/home/components/settings/helpers/get-check-types/get-check-types.helper.js
  source/js/components/home/components/settings/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/js/components/home/components/settings/helpers/helpers.js
  source/js/components/home/components/settings/settings.js
  source/js/helpers/boolean/boolean.js
  source/js/helpers/boolean/check-is-media-match/check-is-media-match.helper.js
  source/js/helpers/helpers.js
Due: make lint_editorconfig lint_fs, make lint_css, make lint_js

T85-SmartSwitcher: * label in label issue
  source/index.html
Due: make lint_editorconfig lint_fs

T100-nvmrc: + nvmrc file
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .nvmrc
Due: make lint_editorconfig lint_fs

T100-nvmrc: * nvmrc action
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: make lint_editorconfig lint_fs

T101-StandartConfigs: + standard stylelint
  .stylelintrc.yml
  package-lock.json
  package.json
  source/css/blocks/easter-egg.css
  source/css/blocks/exp-filter.css
  source/css/blocks/favorites.css
  source/css/blocks/footer.css
  source/css/blocks/form-control.css
  source/css/blocks/header.css
  source/css/blocks/intro.css
  source/css/blocks/page.css
  source/css/blocks/section-header.css
  source/css/blocks/settings.css
  source/css/blocks/social-list.css
  source/css/blocks/timeline.css
  source/css/globals/fonts.css
  source/css/globals/motion.css
  source/css/globals/variables.css
  source/css/styles.css
Due: make lint_editorconfig lint_fs, make lint_css

T98-Squoosh: + package
  gulp/tasks/copy/copy.task.js
  gulp/tasks/images/images.task.js
  gulp/tasks/svg/svg.task.js
  gulp/tasks/tasks.js
  gulpfile.js
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs, make lint_js

T80-ThemeColor: + theme color
  .lintstagedrc.yml
  source/css/globals/variables.css
  source/index.html
Due: make lint_editorconfig lint_fs, make lint_css

T99-Resume: * resume
  source/files/fe-developer-zubko-vladyslav.pdf
  source/files/vladyslav-zubko-cv.pdf
  source/index.html
Due: make lint_editorconfig lint_fs

T99-Resume: + more timeline info
  db/database.json
Due: make lint_editorconfig lint_fs

nvmrc: * path
  .github/workflows/ci.yml
Due: make lint_editorconfig lint_fs

nvmrc: * icon path
  source/img/icons/icon.svg
Due: make lint_editorconfig lint_fs

Path conditions:
  make lint_editorconfig lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js: any of: *.js
