Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

ci(workspace): use workspace prefix in release action wd-791 (#792)
  commitlint.config.js
  dangerfile.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): update cv with the latest chasnges wd-790
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

feat(whatislove-dev): update cv with the latest chasnges wd-790 (#793)
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

feat(whatislove-dev): add symbol for articles headers wd-795
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add symbol for articles headers wd-795 (#796)
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

Path conditions:
  prettier --write: any of: *.{json,yml,css,js,cjs,d.ts}
  make lint_editor lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js lint_type: any of: *.js
