Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig, npm run lint:css, npm run lint:js

.lintstagedrc.yml:

"*": npm run lint:editorconfig
"*.css": npm run lint:css
"*.js": npm run lint:js

T62-DropShadow: + dropshadow
  source/css/blocks/timeline.css
  source/css/scaffolding.css
Due: npm run lint:editorconfig, npm run lint:css

T62-DropShadow: + lintstage package
  package-lock.json
  package.json
Due: npm run lint:editorconfig

T61-ToggleBtn: * replace input with toggle btn
  source/index.html
Due: npm run lint:editorconfig

T61-ToggleBtn: * settings buttons
  source/css/blocks/settings.css
Due: npm run lint:editorconfig, npm run lint:css

T61-ToggleBtn: + boolean to number map
  source/js/common/maps/index.js
  source/js/common/maps/number/boolean-to-number.map.js
Due: npm run lint:editorconfig, npm run lint:js

T61-ToggleBtn: * settings btn component
  source/js/common/maps/number/index.js
  source/js/pages/index/components/settings/components/setting-button/common/constants.js
  source/js/pages/index/components/settings/components/setting-button/helpers/check-is-checked/check-is-checked.helper.js
  source/js/pages/index/components/settings/components/setting-button/helpers/index.js
  source/js/pages/index/components/settings/components/setting-button/setting-button.component.js
  source/js/pages/index/components/settings/settings.component.js
Due: npm run lint:editorconfig, npm run lint:js

T61-ToggleBtn: * pointer event styles
  source/css/blocks/settings.css
Due: npm run lint:editorconfig, npm run lint:css

T60-AddNewTimelines: * get form data functionality
  source/js/helpers/form/get-control-value/get-control-value.helper.js
  source/js/helpers/form/get-control-value/helpers/check-is-refer-to-another-node/check-is-refer-to-another-node.helper.js
  source/js/helpers/form/get-form-values/get-form-values.helper.js
Due: npm run lint:editorconfig, npm run lint:js

T60-AddNewTimelines: + new timelines
  db/database.json
Due: npm run lint:editorconfig

T60-AddNewTimelines: + heart icons
  source/img/heart-broken.bg.svg
  source/img/heart.bg.svg
Due: npm run lint:editorconfig

T60-AddNewTimelines: + heart icon styles
  source/css/blocks/settings.css
Due: npm run lint:editorconfig, npm run lint:css

T42-EasterEgg: * move setting enum items
  source/js/common/enums/index.js
  source/js/common/enums/setting/index.js
  source/js/common/enums/setting/setting-name.enum.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: * loader component
  source/js/components/loader/helpers/get-loader-element/get-loader-element.helper.js
  source/js/components/loader/helpers/get-loader-template/get-loader-template.helper.js
  source/js/components/loader/helpers/index.js
  source/js/components/loader/loader.component.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: + whatislove audio
  source/sound/haddaway-whatislove.mp3
Due: npm run lint:editorconfig

T42-EasterEgg: * gulp copy task
  gulp/config.mjs
  gulp/tasks/copy/copy.task.mjs
Due: npm run lint:editorconfig

T42-EasterEgg: + setting btn label enum
  source/js/common/enums/setting/index.js
  source/js/common/enums/setting/setting-btn-label.enum.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: + setting component
  source/js/pages/index/components/settings/common/enums/index.js
  source/js/pages/index/components/settings/common/enums/setting-name.enum.js
  source/js/pages/index/components/settings/common/maps/setting-mame-to-check-types.map.js
  source/js/pages/index/components/settings/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/js/pages/index/components/settings/helpers/index.js
  source/js/pages/index/components/settings/settings.component.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: + easter egg component
  source/js/pages/index/components/easter-egg/common/constants.js
  source/js/pages/index/components/easter-egg/easter-egg.component.js
  source/js/pages/index/components/easter-egg/helpers/get-player-element/get-player-element.helper.js
  source/js/pages/index/components/easter-egg/helpers/index.js
  source/js/pages/index/components/index.js
  source/js/pages/index/index.page.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: * settings btn icons
  source/css/blocks/settings.css
Due: npm run lint:editorconfig, npm run lint:css

T42-EasterEgg: * easter egg block
  source/css/animations.css
  source/css/blocks/easter-egg.css
  source/css/styles.css
Due: npm run lint:editorconfig, npm run lint:css

T42-EasterEgg: * easter egg styles
  source/css/animations.css
  source/css/blocks/easter-egg.css
  source/css/blocks/header.css
  source/css/blocks/settings.css
  source/css/variables.css
Due: npm run lint:editorconfig, npm run lint:css

T42-EasterEgg: * eater egg markup
  source/index.html
Due: npm run lint:editorconfig

T42-EasterEgg: + get random number helper
  source/js/helpers/index.js
  source/js/helpers/number/get-random-number.helper.js
  source/js/helpers/number/index.js
Due: npm run lint:editorconfig, npm run lint:js

T42-EasterEgg: * easter egg component
  source/js/pages/index/components/easter-egg/common/constants.js
  source/js/pages/index/components/easter-egg/easter-egg.component.js
  source/js/pages/index/components/easter-egg/helpers/get-node-random-coords/get-node-random-coords.helper.js
  source/js/pages/index/components/easter-egg/helpers/index.js
Due: npm run lint:editorconfig, npm run lint:js

T41-Toast: + toast markup
  source/css/blocks/toast.css
  source/css/styles.css
  source/index.html
Due: npm run lint:editorconfig, npm run lint:css

T41-Toast: * easter egg component
  source/js/pages/index/components/easter-egg/easter-egg.component.js
Due: npm run lint:editorconfig, npm run lint:js

T41-Toast: + toast component
  source/js/components/index.js
  source/js/components/toast/common/constants.js
  source/js/components/toast/toast.component.js
Due: npm run lint:editorconfig, npm run lint:js

T41-Toast: + async timeout helper
  source/js/helpers/timeout/index.js
  source/js/helpers/timeout/set-async-timeout/set-async-timeout.helper.js
Due: npm run lint:editorconfig, npm run lint:js

T41-Toast: * whatislove button
  source/css/animations.css
  source/css/blocks/settings.css
Due: npm run lint:editorconfig, npm run lint:css

T41-Toast: + easter egg message
  source/css/blocks/header.css
  source/css/blocks/settings.css
  source/css/blocks/toast.css
  source/js/common/enums/index.js
  source/js/common/enums/notification/index.js
  source/js/common/enums/notification/notification-message.enum.js
  source/js/components/toast/common/constants.js
  source/js/pages/index/components/easter-egg/common/constants.js
  source/js/pages/index/components/easter-egg/easter-egg.component.js
  source/js/pages/index/components/settings/settings.component.js
  source/js/pages/index/index.page.js
Due: npm run lint:editorconfig, npm run lint:css, npm run lint:js

development: * cache task
  gulp/tasks/cache/cache.task.mjs
Due: npm run lint:editorconfig

development: * load timelines functionality
  source/js/pages/index/components/timeline/timeline.component.js
Due: npm run lint:editorconfig, npm run lint:js

T65-CleanupTask: + cleanup task
  gulp/tasks/clean/clean.task.mjs
  gulp/tasks/cleanup/cleanup.task.mjs
  gulp/tasks/tasks.mjs
  gulpfile.mjs
Due: npm run lint:editorconfig

T65-CleanupTask: * tasks paths
  gulp/tasks/cache/cache.task.mjs
  gulp/tasks/cleanup/cleanup.task.mjs
  gulp/tasks/copy/copy.task.mjs
  gulp/tasks/css/css.task.mjs
  gulp/tasks/html/html.task.mjs
Due: npm run lint:editorconfig

T64-FixSprite: + get timeline icon path
  source/js/pages/index/components/timeline/components/timeline-list/common/constants.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-icon-path/get-icon-path.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-replaced-icon-path/get-replaced-icon-path.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-timeline-templates.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/js/pages/index/components/timeline/components/timeline-list/helpers/index.js
  source/js/pages/index/components/timeline/components/timeline-list/timeline-list.component.js
Due: npm run lint:editorconfig, npm run lint:js

T64-FixSprite: * gulp cache task
  gulp/tasks/cache/cache.task.mjs
Due: npm run lint:editorconfig

T64-FixSprite: + template timeline icon
  source/index.html
Due: npm run lint:editorconfig

development: * move html academy work in db
  db/database.json
Due: npm run lint:editorconfig

T63-BabelNode: + babel node package
  package-lock.json
  package.json
Due: npm run lint:editorconfig

T63-BabelNode: * helpers
  source/js/helpers/form/get-control-value/get-control-value.helper.js
  source/js/helpers/form/get-control-value/helpers/check-is-refer-to-another-node/check-is-refer-to-another-node.helper.js
Due: npm run lint:editorconfig, npm run lint:js
