Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint_editorconfig lint_fs, make lint_css, make lint_js

chore: edit gitignore wd-147
  .gitignore
Due: make lint_editorconfig lint_fs

chore: make eslint globaly wd-147
  .eslintrc.yml
  Makefile
Due: make lint_editorconfig lint_fs

chore: add sonarjs plugin wd-147
  .eslintrc.yml
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

chore: add import order plugin wd-147
  .eslintrc.yml
  package-lock.json
  package.json
  source/scripts/components/common/toast/common/constants.js
  source/scripts/components/common/toast/toast.js
  source/scripts/components/form/form.js
  source/scripts/components/home/components/easter-egg/common/constants.js
  source/scripts/components/home/components/easter-egg/easter-egg.js
  source/scripts/components/home/components/navigation/navigation.js
  source/scripts/components/home/components/settings/components/switch/helpers/check-is-checked/check-is-checked.helper.js
  source/scripts/components/home/components/settings/components/switch/switch.js
  source/scripts/components/home/components/settings/settings.js
  source/scripts/components/home/components/timeline/components/timeline-form/timeline-form.js
  source/scripts/components/home/components/timeline/timeline.js
  source/scripts/components/home/home.js
  source/scripts/exceptions/http-error/http-error.exception.js
  source/scripts/helpers/form/fill-select-options/fill-select-options.helper.js
  source/scripts/helpers/form/form.js
  source/scripts/helpers/helpers.js
  source/scripts/index.js
  source/scripts/services/http/http.service.js
  source/scripts/services/services.js
  source/scripts/services/timeline-api/timeline-api.service.js
Due: make lint_editorconfig lint_fs, make lint_js

chore: add unicorn plugin wd-147
  .eslintrc.yml
  eleventy.config.cjs
  package-lock.json
  package.json
  source/scripts/common/enums/enums.js
  source/scripts/common/enums/setting/setting-btn-label.enum.js
  source/scripts/common/enums/setting/setting-button-label.enum.js
  source/scripts/common/enums/setting/setting.js
  source/scripts/components/common/loader/loader.js
  source/scripts/components/common/toast/toast.js
  source/scripts/components/form/form.js
  source/scripts/components/form/helpers/get-transformed-timeline/get-transformed-timeline.helper.js
  source/scripts/components/home/components/easter-egg/easter-egg.js
  source/scripts/components/home/components/easter-egg/helpers/get-player-element/get-player-element.helper.js
  source/scripts/components/home/components/navigation/navigation.js
  source/scripts/components/home/components/settings/components/control/control.js
  source/scripts/components/home/components/settings/components/switch/switch.js
  source/scripts/components/home/components/settings/settings.js
  source/scripts/components/home/components/timeline/components/timeline-form/timeline-form.js
  source/scripts/components/home/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/components/home/components/timeline/components/timeline-list/helpers/get-timeline-templates/get-timeline-templates.helper.js
  source/scripts/components/home/components/timeline/components/timeline-list/timeline-list.js
  source/scripts/components/home/components/timeline/timeline.js
  source/scripts/helpers/boolean/check-is-one-of/check-is-one-of.helper.js
  source/scripts/helpers/dom/dom.js
  source/scripts/helpers/dom/get-custom-attr-name/get-custom-attr-name.helper.js
  source/scripts/helpers/dom/get-custom-attribute-name/get-custom-attribute-name.helper.js
  source/scripts/helpers/dom/subscribe-focus-trap/subscribe-focus-trap.helper.js
  source/scripts/helpers/form/add-select-options/add-select-options.helper.js
  source/scripts/helpers/helpers.js
  source/scripts/helpers/string/get-string-with-check/get-string-with-check.helper.js
  source/scripts/helpers/timeout/debounce/debounce.helper.js
  source/scripts/helpers/timeout/set-async-timeout/set-async-timeout.helper.js
  source/scripts/services/http/http.service.js
  source/scripts/services/services.js
  source/scripts/services/whatislove-math/whatislove-math.service.js
Due: make lint_editorconfig lint_fs, make lint_js

chore: add some custom eslint rules wd-147
  .eslintrc.yml
Due: make lint_editorconfig lint_fs

chore: add perfectionist eslint plugin wd-147
  .eslintrc.yml
  commitlint.config.js
  eleventy.config.cjs
  package-lock.json
  package.json
  source/scripts/common/enums/app/app-config.enum.js
  source/scripts/common/enums/event/keyboard-key.enum.js
  source/scripts/common/enums/setting/setting-name.enum.js
  source/scripts/common/enums/timeline/timeline-type.enum.js
  source/scripts/components/common/toast/toast.js
  source/scripts/components/form/form.js
  source/scripts/components/home/components/easter-egg/easter-egg.js
  source/scripts/components/home/components/navigation/navigation.js
  source/scripts/components/home/components/settings/components/control/control.js
  source/scripts/components/home/components/settings/components/switch/switch.js
  source/scripts/components/home/components/settings/helpers/get-setting-item-element/get-setting-item-element.helper.js
  source/scripts/components/home/components/settings/settings.js
  source/scripts/components/home/components/timeline/components/timeline-form/timeline-form.js
  source/scripts/components/home/components/timeline/components/timeline-list/helpers/get-timeline-template/get-timeline-template.helper.js
  source/scripts/components/home/components/timeline/timeline.js
  source/scripts/components/home/home.js
  source/scripts/exceptions/http-error/http-error.exception.js
  source/scripts/helpers/api/get-server-api-url/get-server-api-url.helper.js
  source/scripts/index.js
  source/scripts/services/http/http.service.js
  source/scripts/services/services.js
  source/scripts/services/storage/storage.service.js
  source/scripts/services/timeline-api/timeline-api.service.js
  source/scripts/services/whatislove-math/whatislove-math.service.js
Due: make lint_editorconfig lint_fs, make lint_js

ci: add jsdoc support wd-173
  .lintstagedrc.yml
Due: make lint_editorconfig lint_fs

style: replace set/get attribute with aria-role methods wd-146
  source/scripts/pages/home/libs/components/navigation/navigation.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/libs/constants/constants.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/libs/helpers/check-is-checked/check-is-checked.helper.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
Due: make lint_editorconfig lint_fs, make lint_js

style: remove check aria attribute helpers wd-146
  source/scripts/pages/home/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/libs/helpers/check-is-checked/check-is-checked.helper.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/libs/helpers/helpers.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
Due: make lint_editorconfig lint_fs, make lint_js

build: rewrite cd action wd-168
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: make lint_editorconfig lint_fs

build: edit cd build script wd-168
  .github/workflows/cd.yml
Due: make lint_editorconfig lint_fs

style: simplify conditions wd-149
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
  source/scripts/libs/maps/boolean-to-number.map.js
  source/scripts/libs/maps/maps.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
Due: make lint_editorconfig lint_fs, make lint_js

ci: add dangerjs wd-149
  .github/workflows/ci-pr.yml
  dangerfile.js
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs, make lint_js

ci: convert dsbgerjs to cjs wd-149
  .eslintrc.yml
  dangerfile.cjs
  project.config.js
  source/scripts/libs/helpers/init-debounce/init-debounce.helper.js
Due: make lint_editorconfig lint_fs, make lint_js

style: edit enum style wd-149
  dangerfile.cjs
Due: make lint_editorconfig lint_fs

style: add path to danger file to ci wd-149
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: add relative path to danger file to ci wd-149
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: remove extension from danger file to ci wd-149
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: edit dangerjs config wd-149
  .github/workflows/ci-pr.yml
  dangerfile.cjs
Due: make lint_editorconfig lint_fs

style: simplify conditions wd-146
  project.config.js
  source/scripts/libs/maps/boolean-to-number.map.js
  source/scripts/libs/maps/maps.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
Due: make lint_editorconfig lint_fs, make lint_js

chore: add license wd-169
  LICENSE
Due: make lint_editorconfig lint_fs

docs: add readme wd-143
  readme.md
Due: make lint_editorconfig lint_fs

docs: edit license path wd-143
  readme.md
Due: make lint_editorconfig lint_fs

docs: add requirements to redame wd-143
  readme.md
Due: make lint_editorconfig lint_fs

docs: edit main title in readme wd-143
  readme.md
Due: make lint_editorconfig lint_fs

ci: add github hooks on postinstall wd-158
  package-lock.json
  package.json
Due: make lint_editorconfig lint_fs

ci: add env labeler wd-156
  .github/pr-branch-labeler.yml
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: add repo key to env labeler wd-156
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: edit step name env labeler wd-156
  .github/workflows/ci-pr.yml
Due: make lint_editorconfig lint_fs

ci: add ci badge to readme wd-174
  readme.md
Due: make lint_editorconfig lint_fs

ci: add cd badge to readme wd-174
  readme.md
Due: make lint_editorconfig lint_fs

refactor: replace underscore with private fields wd-190
  .eslintrc.yml
  source/scripts/libs/components/loader/loader.js
  source/scripts/libs/components/toast/toast.js
  source/scripts/libs/packages/http/http.package.js
  source/scripts/libs/packages/storage/storage.package.js
  source/scripts/packages/timeline/timeline-api.js
  source/scripts/pages/form/form.js
  source/scripts/pages/home/home.js
  source/scripts/pages/home/libs/components/easter-egg/easter-egg.js
  source/scripts/pages/home/libs/components/navigation/navigation.js
  source/scripts/pages/home/libs/components/settings/libs/components/control/control.js
  source/scripts/pages/home/libs/components/settings/libs/components/switch/switch.js
  source/scripts/pages/home/libs/components/settings/settings.js
  source/scripts/pages/home/libs/components/timeline/libs/components/timeline-form/timeline-form.js
  source/scripts/pages/home/libs/components/timeline/libs/components/timeline-list/timeline-list.js
  source/scripts/pages/home/libs/components/timeline/timeline.js
Due: make lint_editorconfig lint_fs, make lint_js

fix: bind for window resize in easter egg wd-191
  source/scripts/pages/home/libs/components/easter-egg/easter-egg.js
Due: make lint_editorconfig lint_fs, make lint_js

feat: add css custom media wd-191
  eleventy.config.cjs
  source/styles/globals/medias.css
  source/styles/index.css
Due: make lint_editorconfig lint_fs, make lint_css

style: add css nesting wd-191
  source/pages/index.njk
  source/styles/blocks/exp-filter.css
  source/styles/blocks/favorites.css
  source/styles/blocks/footer.css
  source/styles/blocks/form-control.css
  source/styles/blocks/header.css
  source/styles/blocks/intro.css
  source/styles/blocks/loader.css
  source/styles/blocks/navigation.css
  source/styles/blocks/not-easter-egg.css
  source/styles/blocks/section-header.css
  source/styles/blocks/settings.css
  source/styles/blocks/social-list.css
  source/styles/blocks/timeline.css
  source/styles/globals/animations.css
Due: make lint_editorconfig lint_fs, make lint_css

Path conditions:
  make lint_editorconfig lint_fs: any of: *
  make lint_css: any of: *.css
  make lint_js: any of: *.js
