Repository what1s1ove/whatislove.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

.lintstagedrc.yml:

'*.{json,yml,css,js,cjs,d.ts}': prettier --write
'*': make lint_editor lint_fs
'*.css': make lint_css
'*.js': make lint_js lint_type

feat(careers-whatislove-dev): use oklch for colors wd-612
  apps/careers-whatislove-dev/src/assets/styles/animations.css
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/assets/styles/variables.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(workspace): restriction to use only oklch for colors wd-612 (#763)
  apps/careers-whatislove-dev/src/assets/styles/animations.css
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/assets/styles/variables.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
  apps/whatislove-dev/src/styles/blocks/accordion.css
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/input.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/variables.css
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix light-dark css function wd-575
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/scripts/libs/helpers/helpers.js
  apps/whatislove-dev/src/styles/blocks/accordion.css
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/aside.css
  apps/whatislove-dev/src/styles/blocks/button.css
  apps/whatislove-dev/src/styles/blocks/channel.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/experience.css
  apps/whatislove-dev/src/styles/blocks/footer.css
  apps/whatislove-dev/src/styles/blocks/header.css
  apps/whatislove-dev/src/styles/blocks/input.css
  apps/whatislove-dev/src/styles/blocks/intro.css
  apps/whatislove-dev/src/styles/blocks/loader.css
  apps/whatislove-dev/src/styles/blocks/mentions.css
  apps/whatislove-dev/src/styles/blocks/not-easter-egg.css
  apps/whatislove-dev/src/styles/blocks/page.css
  apps/whatislove-dev/src/styles/blocks/pagination.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/blocks/settings.css
  apps/whatislove-dev/src/styles/blocks/shapes.css
  apps/whatislove-dev/src/styles/blocks/skip-link.css
  apps/whatislove-dev/src/styles/blocks/social-list.css
  apps/whatislove-dev/src/styles/blocks/switch.css
  apps/whatislove-dev/src/styles/blocks/tag-list.css
  apps/whatislove-dev/src/styles/blocks/timeline.css
  apps/whatislove-dev/src/styles/blocks/toast.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

feat(careers-whatislove-dev): edit using oklch color wd-757
  apps/careers-whatislove-dev/src/assets/styles/animations.css
  apps/careers-whatislove-dev/src/assets/styles/scaffolding.css
  apps/careers-whatislove-dev/src/assets/styles/variables.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/styles.css
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-process/styles.css
  apps/careers-whatislove-dev/src/pages/root/styles.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(workspace): remove unnecessary changes wd-757
  apps/careers-whatislove-dev/src/libs/components/visually-hidden/styles.css
  apps/certifications-whatislove-dev/src/libs/components/app/styles.css
  apps/whatislove-dev/src/styles/blocks/visually-hidden.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

refactor(whatislove-dev): use relative import for shared code wd-757
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/data/mentions.js
  apps/whatislove-dev/src/scripts/libs/helpers/helpers.js
  apps/whatislove-dev/src/transforms/add-toc/add-toc.transform.js
  apps/whatislove-dev/src/transforms/add-toc/libs/helpers/generate-toc-markup/generate-toc-markup.helper.js
  apps/whatislove-dev/src/transforms/change-external-link-target/change-external-link-target.transform.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

chore(workspace): update form-payload up latest wd-757
  apps/careers-whatislove-dev/package.json
  package-lock.json
Due: prettier --write, make lint_editor lint_fs

ci(whatislove-dev): add eslint overrides wd-757
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(shared): add eslint overrides wd-757
  packages/shared/eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(careers-whatislove-dev): rewrite script to use native glob wd-757
  apps/careers-whatislove-dev/scripts/create-process-video/create-process-video.script.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): remove unnecessary changes wd-757
  apps/whatislove-dev/eleventy.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

ci(workspace): remove sonarjs pseudo-random rule from global ignore wd-757
  eslint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): add info about eslint bulk suppressions to update linter article wd-723
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add info about eslint bulk suppressions to update linter article wd-723 (#765)
  apps/whatislove-dev/src/articles/why-it-is-important-to-update-linters-and-how-to-do-it-right/index.md
Due: make lint_editor lint_fs

build(workspace): use native netlify action for deployment wd-762
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

build(workspace): use native netlify action for deployment wd-762 (#766)
  .github/workflows/cd.yml
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update cv with latest changes wd-756
  apps/whatislove-dev/src/database.json
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update cv with latest changes wd-756 (#767)
  apps/whatislove-dev/src/database.json
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): add more font styles for code snippets wd-768
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix oklch color migration issues wd-770
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/globals/transitions.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): add more font styles for code snippets wd-768 (#769)
  apps/whatislove-dev/eleventy.config.js
  apps/whatislove-dev/src/styles/blocks/content.css
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(whatislove-dev): fix oklch color migration issues wd-770 (#771)
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  apps/whatislove-dev/src/styles/globals/transitions.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(careers-whatislove-dev): form should reset only after alert confirmation wd-772
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

fix(whatislove-dev): adjust font styles for content wd-774
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

fix(careers-whatislove-dev): form should reset only after alert confirmation wd-772 (#773)
  apps/careers-whatislove-dev/src/pages/root/libs/components/screen-form/screen-form.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

refactor(whatislove-dev): edit font sizes for title wd-774
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

fix(whatislove-dev): adjust font styles for content wd-774 (#775)
  apps/whatislove-dev/package.json
  apps/whatislove-dev/src/styles/blocks/article-list.css
  apps/whatislove-dev/src/styles/blocks/article.css
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/blocks/scroll-shadows.css
  stylelint.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_css, make lint_js lint_type

build(shared): improve types for shared code wd-778
  packages/shared/package.json
  packages/shared/tsconfig.build.json
Due: prettier --write, make lint_editor lint_fs

build(shared): improve types for shared code wd-778 (#779)
  packages/shared/package.json
  packages/shared/tsconfig.build.json
Due: prettier --write, make lint_editor lint_fs

feat(whatislove-dev): update cv with latest changes wd-780
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

ci(workspace): add commitlint scope-delimiter-style rule wd-782
  commitlint.config.js
  dangerfile.js
  package-lock.json
  package.json
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): update cv with latest changes wd-780 (#781)
  apps/whatislove-dev/src/files/vladyslav-zubko-cv.pdf
Due: make lint_editor lint_fs

feat(whatislove-dev): add error output to strictest ts config article wd-785
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
Due: make lint_editor lint_fs

feat(whatislove-dev): add error output to strictest ts config article wd-785 (#786)
  apps/whatislove-dev/src/articles/the-strictest-typescript-config/index.md
Due: make lint_editor lint_fs

ci(workspace): add commitlint scope-delimiter-style rule wd-782 (#783)
  commitlint.config.js
  dangerfile.js
  package-lock.json
  package.json
  project.config.js
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type

feat(whatislove-dev): edit heading levels in js naming conventions article wd-787
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

feat(whatislove-dev): edit heading levels in js naming conventions article wd-787 (#788)
  apps/whatislove-dev/src/articles/javascript-naming-conventions-are-important/index.md
  apps/whatislove-dev/src/styles/blocks/content.css
  apps/whatislove-dev/src/styles/globals/variables.css
Due: prettier --write, make lint_editor lint_fs, make lint_css

ci(workspace): use workspace prefix in release action wd-791
  commitlint.config.js
  dangerfile.js
  release-please-config.json
Due: prettier --write, make lint_editor lint_fs, make lint_js lint_type
